@page
@model Applied_WebApplication.Pages.ReportPrint.GeneralLedgersModel
@{
    var UserName = User.Identity.Name;
    var Titles_COA = Titles(UserName, Tables.COA);
    var Titles_Project = Titles(UserName, Tables.Project);
    var Titles_Employee = Titles(UserName, Tables.Employees);
    var Titles_Inventory = Titles(UserName, Tables.Inventory);

    var TitleCOA = GetTitle(UserName, Tables.Customers, Model.Parameters.N_COA);
    var TitleCompany = GetTitle(UserName, Tables.Customers, Model.Parameters.N_Customer);
    var TitleProject = GetTitle(UserName, Tables.Customers, Model.Parameters.N_Project);
    var TitleEmployee = GetTitle(UserName, Tables.Customers, Model.Parameters.N_Employee);
    var TitleInventory = GetTitle(UserName, Tables.Customers, Model.Parameters.N_Inventory);

    var Date1 = Model.Parameters.Dt_From;
    var Date2 = Model.Parameters.Dt_To;
}

<style>

    .form-control {
        width: 70%
    }

    .input-group-text {
        width: 30%
    }

</style>


<div class="container AppHeading-2">
    <h5 class="TextCenter">GENERAL LEDGER (Report)</h5>
</div>

<form method="post">
    <div class="container">

        <!--DATES -->
        <div class="row mt-2">
            <div class="col-3">
                <div class="input-group">
                    <label class="input-group-text" for="DateFrom">From</label>
                    <input type="Date"
                           id="DateFrom"
                           name="Dt_From"
                           value="@Model.Parameters.Dt_From.ToString(AppRegistry.DateYMD)"
                           format="dd-MM-yyyy"
                           class="form-control"
                           placeholder="dd-MM-yyyy">
                </div>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <label class="input-group-text" for="DateTo">To</label>
                    <input type="Date"
                           id="DateTo"
                           name="Dt_To"
                           value="@Model.Parameters.Dt_To.ToString(AppRegistry.DateYMD)"
                           format="dd-MM-yyyy"
                           class="form-control"
                           placeholder="Voucher Date">
                </div>
            </div>
        </div>

        <!-- ACCOUNTS -->
        <div class="row mt-2">
            <div class="col-6">
                <div class="input-group">
                    <span class="input-group-text" id="COA">Account</span>
                    <select class="form-select" name="N_COA" asp-for="@Model.Parameters.N_COA">
                        <option selected>@TitleCOA</option>
                        @foreach (KeyValuePair<int, string> _Title in Titles(UserName, Tables.COA))
                        {
                            <option value="@_Title.Key">@_Title.Value</option>
                        }
                    </select>
                </div>

            </div>
            <div class="col-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Select All
                </label>
            </div>
            <div class="col-3">
                <button type="submit" id="GLPdf"
                        class="btn btn-primary"
                        asp-page-handler="GL">
                    Print
                    <i class="bi bi-printer"></i>
                </button>
            </div>
        </div>

        <!-- COMPANY-->
        <div class="row mt-2">
            <div class="col-6">
                <div class="input-group">
                    <span class="input-group-text" id="Customer">Company</span>
                    <select class="form-select" name="N_Customer" asp-for="@Model.Parameters.N_Customer">
                        <option selected>@TitleCompany</option>
                        @foreach (KeyValuePair<int, string> _Title in Titles(UserName, Tables.Customers))
                        {
                            <option value="@_Title.Key">@_Title.Value</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Select All
                </label>
            </div>

            <div class="col-1">
                <button type="submit" id="ComPdf" class="btn btn-primary"
                        asp-page-handler="Company">Print
                    <i class="bi bi-printer"></i>
                </button>

            </div>
            <div class="col-1">
                <button type="submit" id="ComExcel" class="btn btn-primary"
                        asp-page-handler="CompanyExcel">Excel
                    <i class="bi bi-filetype-xls"></i>
                </button>

            </div>
            <div class="col-1">
                <button type="submit" id="ComWord" class="btn btn-primary"
                        asp-page-handler="CompanyWord">Word
                    <i class="bi bi-filetype-doc"></i>
                </button>

            </div>
            <div class="col-1">
                <button type="submit" id="ComHTML" class="btn btn-primary"
                        asp-page-handler="CompanyHTML">HTML
                    <i class="bi bi-filetype-html"></i>
                </button>

            </div>

        </div>
    </div>
</form>
