@page
@model Applied_WebApplication.Pages.ReportPrint.GeneralLedgersModel
@{
    var UserName = User.Identity.Name;
    var Titles_COA = Titles(UserName, Tables.COA);
    var Titles_Project = Titles(UserName, Tables.Project);
    var Titles_Employee = Titles(UserName, Tables.Employees);
    var Titles_Inventory = Titles(UserName, Tables.Inventory);

    var TitleCOA = GetTitle(UserName, Tables.Customers, Model.Parameters.N_COA);
    var TitleCustomer = GetTitle(UserName, Tables.Customers, Model.Parameters.N_Customer);
    var TitleProject = GetTitle(UserName, Tables.Customers, Model.Parameters.N_Project);
    var TitleEmployee = GetTitle(UserName, Tables.Customers, Model.Parameters.N_Employee);
    var TitleInventory = GetTitle(UserName, Tables.Customers, Model.Parameters.N_Inventory);

    var Date1 = Model.Parameters.Dt_From;
    var Date2 = Model.Parameters.Dt_To;


}

<script>
    $(function () {
        $('.datepicker').datepicker({
            format: 'dd-MM-yyyy'
        });
    });
</script>



<div class="container AppHeading">
    <h3 class="TextCenter">GENERAL LEDGER (Report)</h3>
</div>

<form method="post">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="Customer">Account</span>
                    <select class="form-select" name="N_COA" asp-for="@Model.Parameters.N_COA">
                        <option selected>@TitleCOA</option>
                        @foreach (KeyValuePair<int, string> _Title in Titles(UserName, Tables.COA))
                        {
                            <option value="@_Title.Key">@_Title.Value</option>
                        }
                    </select>
                </div>

            </div>
            <div class="col-3">
                <div class="input-group">
                    <label class="input-group-text" for="DateFrom">From</label>
                    <input type="Date"
                           id="DateFrom"
                           name="Dt_From"
                           value="@Model.Parameters.Dt_From.ToString(AppRegistry.DateYMD)"
                           format="dd-MM-yyyy"
                           class="form-control"
                           placeholder="dd-MM-yyyy">
                </div>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <label class="input-group-text" for="DateTo">To</label>
                    <input type="Date"
                           id="DateTo"
                           name="Dt_To"
                           value="@Model.Parameters.Dt_To.ToString(AppRegistry.DateYMD)"
                           format="dd-MM-yyyy"
                           class="form-control"
                           placeholder="Voucher Date">
                </div>
            </div>
            <div class="col-2">
                <button type="submit"
                        class="btn btn-primary"
                        asp-route-rprType="@ReportClass.FileType.pdf"
                        asp-page-handler="GL">
                    <i class="bi bi-printer"></i>
                </button>

                <button type="submit"
                        class="btn btn-primary"
                        asp-route-rprType="@ReportClass.FileType.excel"
                        asp-page-handler="GL">
                    <i class="bi bi-filetype-xls"></i>
                </button>

                <button type="submit"
                        class="btn btn-primary"
                        asp-route-rprType="@ReportClass.FileType.word"
                        asp-page-handler="GL">
                    <i class="bi bi-filetype-doc"></i>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4">
            </div>
            <div class="col-4">
            </div>
        </div>

        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4">
            </div>
            <div class="col-4">
            </div>
        </div>


    </div>
</form>
