@page
@using System.Data
@model Applied_WebApplication.Pages.ReportPrint.TrialBalanceModel
@{
    var UserName = User.Identity.Name;
}


<div class="container AppHeading-2">
    <h5 class="TextCenter">TRIAL BALANCE</h5>
</div>

@if (Model.ErrorMessages.Count>0)
{
    <component type="typeof(ErrorMessages)" render-mode="Static" param-Errors=@Model.ErrorMessages></component>
}

<form method="post">
    <div class="conatianer">
        <div class="row mb-1">
            <div class="col-3">
                <div class="input-group mb-3">
                    <span class="input-group-text input-group-sm" id="basic-addon1">From</span>
                    <input type="date" class="form-control" placeholder="Date From" asp-for="@Model.Variables.DateFrom" aria-label="Date1" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-3">
                <div class="input-group mb-3">
                    <span class="input-group-text input-group-sm" id="basic-addon1">To</span>
                    <input type="date" class="form-control" placeholder="Date To" asp-for="@Model.Variables.DateTo" aria-label="Date2" aria-describedby="basic-addon2">
                </div>
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-primary btn-sm" asp-page-handler="OBTB">Opening</button>
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-primary btn-sm" asp-page-handler="TBALL">All</button>
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-primary btn-sm" asp-page-handler="Refresh">Refresh</button>
            </div>
            <div class="col-1">
                <button type="submit"
                        class="btn btn-primary btn-sm float-end"
                        asp-page-handler="TBPrint">
                    PRINT
                </button>
            </div>


        </div>

    </div>
</form>
<div class="container">
    <table class="table-list">
        <thead>
            <tr>
                <th>Code</th>
                <th>Title of Account</th>
                <th>Debit</th>
                <th>Credit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow Row in Model.TB.Rows)
            {
                decimal _Amount = 0.00M, _Debit = 0.00M, _Credit = 0.00M;
                _Amount = decimal.Parse(Row["DR"].ToString()) - decimal.Parse(Row["CR"].ToString());
                if (_Amount >= 0) { _Debit = _Amount; }
                if (_Amount < 0) { _Credit = Math.Abs(_Amount); }
                <tr>
                    <td>@Row["Code"]</td>
                    <td>@Row["Title"]</td>
                    <td class="align-right">@_Debit.ToString(AppRegistry.FormatCurrency2)</td>
                    <td class="align-right">@_Credit.ToString(AppRegistry.FormatCurrency2)</td>
                </tr>
            }
        </tbody>
        <tfoot class="TableFooter">
            <tr>
                <td></td>
                <td>TOTAL</td>
                <td class="align-right">@Model.Tot_DR.ToString(AppRegistry.FormatCurrency2)</td>
                <td class="align-right">@Model.Tot_CR.ToString(AppRegistry.FormatCurrency2)</td>
            </tr>
        </tfoot>

    </table>
</div>
