@page
@using Applied_WebApplication.Data;
@model Applied_WebApplication.Pages.Account.ProfileModel
@{
    var UserName = User.Identity.Name;
    var ProfileDB = new AppliedUsersClass();
    var MyUserProfile = new UserProfile(ProfileDB.UserRecord(UserName));
}

<div class="AppHeading-2">
    <h3>USER PROFILE </h3>
</div>
<br />


<div class="d-grid gap-3">

    <div class="p-2 bg-light border rounded">User ID : @MyUserProfile.UserID</div>
    <div class="p-2 bg-light border rounded">User Name : @MyUserProfile.Name</div>
    <div class="p-2 bg-light border rounded">Designation : @MyUserProfile.Designation</div>
    <div class="p-2 bg-light border rounded">Company : @MyUserProfile.Company</div>
    <div class="p-2 bg-light border rounded">Email : @MyUserProfile.Email</div>
    @*
     <div class="p-2 bg-light border rounded">Date Format : @DateTime.Now.ToString(MyUserProfile.DateFormat)</div>
    <div class="p-2 bg-light border rounded">Currency Format : @CurrencyAmount.ToString(MyUserProfile.CurrencyFormat)</div>
    *@
</div>
