@page
@model Applied_WebApplication.Pages.Account.SettingModel
@{
    var UserName = User.Identity.Name;
    var ProfileDB = new AppliedUsersClass();
    var MyUserProfile = new UserProfile(ProfileDB.UserRecord(UserName));
    var DateFormat = MyUserProfile.DateFormat;
    var CurrencyFormat = MyUserProfile.CurrencyFormat;
    var CurrencyAmount = 123456789.99;

}


<div class="mt-3 p-2 bg-success text-white rounded">
    <h3>SETTING </h3>
</div>
<br />

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Select Date Format</a>
            <a class="dropdown-item" href="#">@DateTime.Now.ToString("MM/dd/yy")</a>
            <a class="dropdown-item" href="#">@DateTime.Now.ToString("MM/dd/yyyy")</a>
            <a class="dropdown-item" href="#">@DateTime.Now.ToString("MMM dd yy")</a>
            <a class="dropdown-item" href="#">@DateTime.Now.ToString("MMM dd yyyy")</a>
            <a class="dropdown-item" href="#">@DateTime.Now.ToString("dd/MM/yy")</a>
            <a class="dropdown-item" href="#">@DateTime.Now.ToString("dd/MM/yyyy")</a>
            <a class="dropdown-item" href="#">@DateTime.Now.ToString("dd/MMM/yy")</a>
            <a class="dropdown-item" href="#">@DateTime.Now.ToString("dd/MMM/yyyy")</a>
            
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
    </div>
    <input type="text" class="form-control" aria-label="Text input with dropdown button">
</div>


<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
        Date Format
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" >Profile</a></li>
        <li><a class="dropdown-item">@CurrencyAmount.ToString(CurrencyFormat)</a></li>
        <li><a class="dropdown-item">@DateTime.Now.ToString(DateFormat)</a></li>
    </ul>
</div>
                    </div>
