@page
@using Microsoft.AspNetCore.Components.Web
@model Applied_WebApplication.Pages.Account.SettingModel
@{
    var UserName = User.Identity.Name;
    var ProfileDB = new AppliedUsersClass();
    var MyUserProfile = new UserProfile(ProfileDB.UserRecord(UserName));
    //var DateFormat = MyUserProfile.DateFormat;
    //var CurrencyFormat = MyUserProfile.CurrencyFormat;
    //var CurrencyAmount = 123456789.99;
    var DateStockExpiry = Model.Variables.StockExpiry.ToString("yyyy-MM-dd");

    var TitleOBCompany = AppFunctions.GetTitle(UserName, Tables.COA, Model.Variables.OBCompany);  // COA for opening balance of Comapny
    var TitleOBStock = AppFunctions.GetTitle(UserName, Tables.COA, Model.Variables.OBStock); // COA for opening balance of Stock

}

<div class="AppHeading-2">
    <h5 class="TextCenter">APPLICATION SETTING <i class="bi bi-wrench-adjustable"></i></h5>
</div>
<br />




<form method="post">
    <div class="container">

        <div class="row mb-2">
            <div class="col-md-3">
                <div class="form-floating mb-1">
                    <select class="form-select" id="SelectCOA" aria-label="Selection of Account" asp-for="@Model.Variables.OBCompany">
                        <option selected>@TitleOBCompany</option>
                        @foreach (KeyValuePair<int, string> Item in AppFunctions.Titles(UserName, Tables.COA))
                        {
                            <option value="@Item.Key">@Item.Value</option>
                        }
                    </select>
                    <label for="SelectCOA">Account Title</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating mb-1">
                    <select class="form-select" id="SelectStock" aria-label="Selection of Stock" asp-for="@Model.Variables.OBStock">
                        <option selected>@TitleOBStock</option>
                        @foreach (KeyValuePair<int, string> Item in AppFunctions.Titles(UserName, Tables.COA))
                        {
                            <option value="@Item.Key">@Item.Value</option>
                        }
                    </select>
                    <label for="SelectStock">Account Title</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating mb-1">
                    <input type="Date" class="form-control" placeholder="Opening Balance Date" asp-for="@Model.Variables.OBDate">
                    <label for="OBDate">Opening Balance Date</label>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-3">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example" asp-for="@Model.Variables.DateFormat">
                        <option selected>@Model.Variables.DateFormat</option>
                        @foreach (string Item in Model.DateFormats)
                        {
                            <option value="@Item">@Item</option>
                        }
                    </select>
                    <label for="floatingSelect">Date Format</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example" asp-for="@Model.Variables.CurrencyFormat">
                        <option selected>@Model.Variables.CurrencyFormat</option>
                        @foreach (string Item in Model.CurrencyFormats)
                        {
                            <option value="@Item">@Item</option>
                        }
                    </select>
                    <label for="floatingSelect">Currency Format</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating mb-1">
                    <input type="text" class="form-control" placeholder="Opening Balance Date" asp-for="@Model.Variables.CurrencySign">
                    <label for="OBDate">Currency Sign</label>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-3">
                <div class="form-floating mb-1">
                    <input type="Date" class="form-control" placeholder="Opening Balance Amount" asp-for="@Model.Variables.FiscalStart">
                    <label for="OBalance">Fiscal Year Start</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating mb-1">
                    <input type="Date" class="form-control" placeholder="Opening Balance Amount" asp-for="@Model.Variables.FiscalEnd">
                    <label for="OBalance">Fiscal Year End</label>
                </div>
            </div>

        </div>
        <div class="row mb-2">
            <div class="col">

                <button type="submit" class="btn btn-primary" asp-page-handler="Save">
                    <i class="bi bi-save"> Save</i>
                </button>
            </div>

        </div>
    </div>
</form>



