@page
@using Microsoft.AspNetCore.Components.Web
@model Applied_WebApplication.Pages.Account.SettingModel
@{
    var UserName = User.Identity.Name;
    var ProfileDB = new AppliedUsersClass();
    var MyUserProfile = new UserProfile(ProfileDB.UserRecord(UserName));
    var DateFormat = MyUserProfile.DateFormat;
    var CurrencyFormat = MyUserProfile.CurrencyFormat;
    var CurrencyAmount = 123456789.99;
}

<div class="mt-3 p-2 bg-success text-white rounded">
    <h3>SETTING </h3>
</div>
<br />

<div class="container">
    <div class="row">
        <div class="col-2">
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                    Currency Format
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item">Select Currency Format</a></li>
                    <li>
                        <a class="dropdown-item"
                           asp-page="Setting"
                           asp-page-handler="UpdateCurrencyFormat"
                           asp-route-id="1"
                           asp-route-UserName=@User.Identity.Name>
                            @CurrencyAmount.ToString(Model.CurrencyFormat1)
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                           asp-page="Setting"
                           asp-page-handler="UpdateCurrencyFormat"
                           asp-route-id="2"
                           asp-route-UserName=@User.Identity.Name>
                            @CurrencyAmount.ToString(Model.CurrencyFormat2)
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                           asp-page="Setting"
                           asp-page-handler="UpdateCurrencyFormat"
                           asp-route-id="3"
                           asp-route-UserName=@User.Identity.Name>
                            @CurrencyAmount.ToString(Model.CurrencyFormat3)
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="Setting"
                           asp-page-handler="UpdateCurrencyFormat"
                           asp-route-id="4"
                           asp-route-UserName=@User.Identity.Name>
                            @CurrencyAmount.ToString(Model.CurrencyFormat4)
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="Setting"
                           asp-page-handler="UpdateCurrencyFormat"
                           asp-route-id="5"
                           asp-route-UserName=@User.Identity.Name>
                            @CurrencyAmount.ToString(Model.CurrencyFormat5)
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="Setting"
                           asp-page-handler="UpdateCurrencyFormat"
                           asp-route-id="6"
                           asp-route-UserName=@User.Identity.Name>
                            @CurrencyAmount.ToString(Model.CurrencyFormat6)
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-2">
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                    Date Format
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item">Select Date Format</a></li>
                    <li>
                        <a class="dropdown-item" asp-page="Setting"
                           asp-page-handler="UpdateDateFormat"
                           asp-route-id="1"
                           asp-route-UserName=@User.Identity.Name>
                            @DateTime.Now.ToString(@Model.DateFormat1)
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="Setting"
                           asp-page-handler="UpdateDateFormat"
                           asp-route-id="2"
                           asp-route-UserName=@User.Identity.Name>
                            @DateTime.Now.ToString(@Model.DateFormat2)
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="Setting"
                           asp-page-handler="UpdateDateFormat"
                           asp-route-id="3"
                           asp-route-UserName=@User.Identity.Name>
                            @DateTime.Now.ToString(@Model.DateFormat3)
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="Setting"
                           asp-page-handler="UpdateDateFormat"
                           asp-route-id="4"
                           asp-route-UserName=@User.Identity.Name>
                            @DateTime.Now.ToString(@Model.DateFormat4)
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="Setting"
                           asp-page-handler="UpdateDateFormat"
                           asp-route-id="5"
                           asp-route-UserName=@User.Identity.Name>
                            @DateTime.Now.ToString(@Model.DateFormat5)
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="Setting"
                           asp-page-handler="UpdateDateFormat"
                           asp-route-id="6"
                           asp-route-UserName=@User.Identity.Name>
                            @DateTime.Now.ToString(@Model.DateFormat6)
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<br />
@DateFormat
<br />
@CurrencyFormat

