@page
@using Microsoft.AspNetCore.Components.Web
@model Applied_WebApplication.Pages.Account.SettingModel
@{
    var UserName = User.Identity.Name;
    var ProfileDB = new AppliedUsersClass();
    var MyUserProfile = new UserProfile(ProfileDB.UserRecord(UserName));
    var DateFormat = MyUserProfile.DateFormat;
    var CurrencyFormat = MyUserProfile.CurrencyFormat;
    var CurrencyAmount = 123456789.99;

    var DateFormat1 = "dd-MM-yy";
    var DateFormat2 = "dd-MM-yyyy";
    var DateFormat3 = "MM-dd-yy";
    var DateFormat4 = "MM-dd-yyyy";
    var DateFormat5 = "dd-MMM-yy";
    var DateFormat6 = "dd-MMM-yyyy";

    var CurrencyFormat1 = "N";
    var CurrencyFormat2 = "#,0.000";
    var CurrencyFormat3 = "#,0.00 Rs.";
    var CurrencyFormat4 = "Rs. #,0";

}

@functions {
    void GetHello()
    {
        var CurrencyFormat = "New Currency format";
        var DateFormat = "Nes Date format";
    }
}



<div class="mt-3 p-2 bg-success text-white rounded">
    <h3>SETTING </h3>
</div>
<br />

<div class="container">
    <div class="row">
        <div class="col-2">
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                    Currency Format
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item">Select Currency Format</a></li>
                    <li>
                        <a class="dropdown-item"
                           asp-page="Setting"
                           asp-page-handler="UpdateCurrencyFormat"
                           asp-route-id="1"
                           asp-route-UserName=@User.Identity.Name>
                            @CurrencyAmount.ToString(CurrencyFormat1) Click it
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                           asp-page="Setting"
                           asp-page-handler="UpdateCurrencyFormat"
                           asp-route-id="2"
                           asp-route-UserName=@User.Identity.Name>
                            @CurrencyAmount.ToString(CurrencyFormat2)
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                           asp-page="Setting"
                           asp-page-handler="UpdateCurrencyFormat"
                           asp-route-id="3"
                           asp-route-UserName=@User.Identity.Name>
                            @CurrencyAmount.ToString(CurrencyFormat3)
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-page="Setting"
                           asp-page-handler="UpdateCurrencyFormat"
                           asp-route-id="4"
                           asp-route-UserName=@User.Identity.Name>
                            @CurrencyAmount.ToString(CurrencyFormat4)
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-2">
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                    Date Format
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item">Select Date Format</a></li>
                    <li><a class="dropdown-item">@DateTime.Now.ToString(DateFormat1)</a></li>
                    <li><a class="dropdown-item">@DateTime.Now.ToString(DateFormat2)</a></li>
                    <li><a class="dropdown-item">@DateTime.Now.ToString(DateFormat3)</a></li>
                    <li><a class="dropdown-item">@DateTime.Now.ToString(DateFormat4)</a></li>
                    <li><a class="dropdown-item">@DateTime.Now.ToString(DateFormat5)</a></li>
                    <li><a class="dropdown-item">@DateTime.Now.ToString(DateFormat6)</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<br />
@DateFormat
<br />
@CurrencyFormat

