@page
@using System.Data;
@model Applied_WebApplication.Pages.Accounts.BillReceivableListModel
@{
    var UserName = User.Identity.Name;
    var FMTCurrency = AppRegistry.GetKey(UserName, "FMTCurrency", KeyType.Text).ToString();
}

<div class="container AppHeading-2">
    <h5 class="TextCenter">BILL RECEIVABLE (LIST)</h5>
</div>

<form method="post">
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Vou Code</th>
                    <th>Vou Date</th>
                    <th>Customer</th>
                    <th>Inv No</th>
                    <th>Inv Date</th>
                    <th>Rec Date</th>
                    <th>Amount</th>
                    <th style="width:10%">
                        <button type="submit"
                                class="btn btn-link btn-outline-light"
                                asp-page-handler="Edit">

                            <i class="bi bi-database-fill-add text-success"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow Row in Model.BillReceivable.Rows)
                {
                    string _TitleCompany = AppFunctions.GetTitle(UserName, Tables.Customers, (int)Row["Company"]);
                    string _Vou_Date = DateTime.Parse(Row["Vou_Date"].ToString()).ToString(AppRegistry.FormatDate);
                    string _Inv_Date = DateTime.Parse(Row["Inv_Date"].ToString()).ToString(AppRegistry.FormatDate);
                    string _Pay_Date = DateTime.Parse(Row["Pay_Date"].ToString()).ToString(AppRegistry.FormatDate);
                    decimal _Amount = (decimal)Row["Amount"];
                    <tr>
                        <td>@Row["Vou_No"].ToString()</td>
                        <td>@_Vou_Date</td>
                        <td>@_TitleCompany</td>
                        <td>@Row["Inv_No"]</td>
                        <td>@_Inv_Date</td>
                        <td>@_Pay_Date</td>
                        <td>@_Amount.ToString(FMTCurrency)</td>
                        <td>
                            <a formaction="get"
                           asp-page="BillReceivable"
                           asp-route-id=@Row["ID"]
                           asp-route-id2="-1">

                                <i class="bi bi-pencil-fill text-primary" style="margin-right:5px"></i>
                            </a>
                            <a asp-page="BillReceivableList"
                           asp-page-handler="Delete"
                           asp-route-id=@Row["ID"]
                           asp-route-Srno="1">
                                <i class="bi bi-trash text-danger"></i>
                            </a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

    



</form>