@page
@using System.Data
@using static Applied_WebApplication.Data.AppFunctions;
@model Applied_WebApplication.Pages.Accounts.BillPayableModel
@{
    var UserName = User.Identity.Name;

    var TitleCompany = GetTitle(UserName, Tables.Customers, Model.Variables.Company);
    var TitleTax = GetTitle(UserName, Tables.Taxes, Model.Variables.Tax);
    var TitleInventory = GetTitle(UserName, Tables.Taxes, Model.Variables.Inventory);
    var TitleProject = GetTitle(UserName, Tables.Taxes, Model.Variables.Project);
    var TitleEmployee = GetTitle(UserName, Tables.Taxes, Model.Variables.Employee);
    var CurrencyFormat = AppRegistry.GetFormatCurrency(UserName);

}


<style>
    tr:hover {
        background-color: #D6EEEE;
    }

    .td {
        height: 20px
    }

    .input-group-text {
        width: 30%;
        height: 32px;
    }

    .form-control {
        width: 70%;
        height: 32px;
    }

    .form-select {
        width: 70%;
        height: 32px;
    }

    .input-group {
        margin-bottom: 3px
    }

    #NetAmount {
        background: lightblue
    }

    #Amount {
        background: lightblue
    }

    #TaxAmount {
        background: lightblue
    }

    .my-hr {
        margin-top: 2px;
        margin-bottom: 4px;
        color: red
    }

    .td-Money {
        text-align: right;
    }

</style>

<div class="container AppHeading-2">
    <h5 class="TextCenter">Bill Payable</h5>
</div>

@if (Model.ErrorCount > 0)
{
    <component type="typeof(ErrorMessages)" render-mode="Static" param-Errors="@Model.ErrorMessages"></component>
}

<form method="post">
    <div class="container">
        <!-------------------------------------------- Bill Transaction Group Area-->
        <div>
            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Vou. Code</span>
                        <input type="text" class="form-control" asp-for="@Model.Variables.Vou_No">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Vou. Date</span>
                        <input type="date" class="form-control" asp-for="@Model.Variables.Vou_Date">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Pay Date</span>
                        <input type="date" class="form-control" asp-for="@Model.Variables.Pay_Date">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Company</span>
                        <select class="form-select" asp-for="@Model.Variables.Company">
                            <option selected>@TitleCompany</option>
                            @foreach (KeyValuePair<int, string> _Title in Titles(UserName, Tables.Customers))
                            {
                                <option value="@_Title.Key">@_Title.Value</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Inv. No.</span>
                        <input type="text" class="form-control" asp-for="@Model.Variables.Inv_No">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Inv. Date</span>
                        <input type="date" class="form-control" asp-for="@Model.Variables.Inv_Date">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Ref No</span>
                        <input type="text" class="form-control" asp-for="@Model.Variables.Ref_No">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Employee</span>
                        <select class="form-select" asp-for="@Model.Variables.Employee">
                            <option selected>@TitleEmployee</option>
                            @foreach (KeyValuePair<int, string> _Title in Titles(UserName, Tables.Employees))
                            {
                                <option value="@_Title.Key">@_Title.Value</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Net Amount</span>
                        <input type="text" class="form-control" id="NetAmount" asp-for="@Model.Variables.TotInv" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Description</span>
                        <input type="text" class="form-control" asp-for="@Model.Variables.Description">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Comments</span>
                        <input type="text" class="form-control" asp-for="@Model.Variables.Comments">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Comments</span>
                        <input type="text" class="form-control" asp-for="@Model.Variables.Comments">
                    </div>
                </div>


            </div>
        </div>
        <hr class="my-hr" />

        <!-------------------------------------------- Bill Transaction List Area-->
        <div>
            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Sr. No.</span>
                        <input type="text" class="form-control" asp-for="@Model.Variables.SR_No" readonly>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Inventory</span>
                        <select class="form-select" asp-for="@Model.Variables.Inventory">
                            <option selected>@TitleInventory</option>
                            @foreach (KeyValuePair<int, string> _Title in Titles(UserName, Tables.Inventory))
                            {
                                <option value="@_Title.Key">@_Title.Value</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Project</span>
                        <select class="form-select" asp-for="@Model.Variables.Project">
                            <option selected>@TitleProject</option>
                            @foreach (KeyValuePair<int, string> _Title in Titles(UserName, Tables.Project))
                            {
                                <option value="@_Title.Key">@_Title.Value</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Qty</span>
                        <input type="text" id="Qty" class="form-control" asp-for="@Model.Variables.Qty>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Rate</span>
                        <input type="text" id="Rate" onchange="myFunction2()" class="form-control" asp-for="@Model.Variables.Rate">
                        <input type="text" id="Amount" class="form-control" asp-for="@Model.Variables.Amount" readonly>
                    </div>
                </div>

                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Batch</span>
                        <input type="text" class="form-control" asp-for="@Model.Variables.Batch">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Tax</span>
                        <select id="Tax" onchange="myFunction2()" class="form-select" asp-for="@Model.Variables.Tax">
                            <option selected>@TitleTax</option>
                            @foreach (KeyValuePair<int, string> _Title in Titles(UserName, Tables.Taxes))
                            {
                                <option value="@_Title.Key">@_Title.Value</option>
                            }
                        </select>
                    </div>

                </div>
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Tax Rate %</span>
                        <input type="text" class="form-control" name="Tax_Rate" asp-for="@Model.Variables.Tax_Rate" id="TaxRate">
                        <input type="text" class="form-control" id="TaxAmount" asp-for="@Model.Variables.TaxAmount" readonly />
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Description</span>
                        <input type="text" class="form-control" asp-for="@Model.Variables.Description2">
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-hr" />
        <!-------------------------------------------- Buttons Area-->

        <div class="row">
            <div clsss=col>
                <input type="text" asp-for="@Model.Variables.ID" hidden />
                <input type="text" asp-for="@Model.Variables.ID2" hidden />
                <input type="text" asp-for="@Model.Variables.Status" hidden />
                @if (Model.Variables.Status == VoucherStatus.Submitted.ToString())
                {
                    <input type="submit" class="btn btn-primary btn-sm" value="SAVE" asp-page-handler="Save" />
                    <input type="submit" class="btn btn-primary btn-sm" value="Back" asp-page-handler="Back" />
                    <input type="submit" class="btn btn-primary btn-sm" value="New" asp-page-handler="New" />
                }
                else
                {
                    <input type="button" class="btn btn-success btn-sm" value="POSTED" />
                    <input type="submit" class="btn btn-primary btn-sm" value="Back" asp-page-handler="Back" />
                }

            </div>
        </div>

        <!-------------------------------------------- END HERE-->
    </div>
</form>



<!--Table of Transaction List-->
@if (Model.BillRecords != null)
{
    @if (Model.BillRecords.Rows.Count > 0)
    {
        <form method="get">
            <div class="container">
                <table class="table mt-1" id="TableList">
                    <thead class="bg-light">
                        <tr>
                            <th style="width:8%;">S-No</th>
                            <th style="width:25%;">Inventory</th>
                            <th style="width:10%;">Batch</th>
                            <th style="width:5%; text-align: right">Qty</th>
                            <th style="width:5%; text-align: right">Rate</th>
                            <th style="width:12%; text-align: right">Amount</th>
                            <th style="width:8%; text-align: right">Tax Rate.</th>
                            <th style="width:8%; text-align: right">Tax Amt.</th>
                            <th style="width:12%; text-align: right">Net Amt</th>
                            <th style="width:7%;">..</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (DataRow Row in Model.BillRecords.Rows)
                        {
                            string _TitleInventory = AppFunctions.GetTitle(UserName, Tables.Inventory, (int)Row["Inventory"]);
                            string _TaxCode = AppFunctions.GetTaxCode(UserName, (int)Row["Tax"]);
                            decimal _TaxRate = AppFunctions.GetTaxRate(UserName, (int)Row["Tax"]);
                            decimal _Qty = (decimal)Row["Qty"];
                            decimal _Rate = (decimal)Row["Rate"];
                            decimal _Amount = _Qty * _Rate;
                            decimal _TaxAmount = _Amount * (_TaxRate / 100);
                            decimal _NetAmount = _Amount + _TaxAmount;

                            <tr>
                                <td>@Row["Sr_No"].ToString()</td>
                                <td>@_TitleInventory</td>
                                <td>@Row["Batch"].ToString()</td>
                                <td class="td-Money">@_Qty.ToString(CurrencyFormat)</td>
                                <td class="td-Money">@_Rate.ToString(CurrencyFormat)</td>
                                <td class="td-Money">@_Amount.ToString(CurrencyFormat)</td>
                                <td class="td-Money">@_TaxRate.ToString(CurrencyFormat)</td>
                                <td class="td-Money">@_TaxAmount.ToString(CurrencyFormat)</td>
                                <td class="td-Money">@_NetAmount.ToString(CurrencyFormat)</td>
                                <td>
                                    @if (Model.Variables.Status == VoucherStatus.Submitted.ToString())
                                    {
                                        <a asp-page="BillPayable" asp-route-id=@Row["TranID"] asp-route-id2=@Row["ID"]><i class="bi bi-pencil-fill text-primary" style="margin-right:5px"></i></a>
                                        <a asp-page="BillPayable" asp-page-handler="Delete" asp-route-id=@Row["TranID"] asp-route-id2=@Row["ID"]><i class="bi bi-trash text-danger"></i></a>
                                    }
                                    else
                                    {
                                        <a> <i class="bi bi-check2 text-sucess"></i> Posted</a>
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr style="background:lightblue">
                            <td></td>
                            <td></td>
                            <td><b>TOTAL</b></td>
                            <td style="text-align: right"><b>@Model.Variables.TotQty.ToString(CurrencyFormat)</b></td>
                            <td></td>
                            <td style="text-align: right"><b>@Model.Variables.TotAmt.ToString(CurrencyFormat)</b></td>
                            <td></td>
                            <td style="text-align: right"><b>@Model.Variables.TotTax.ToString(CurrencyFormat)</b></td>
                            <td style="text-align: right"><b>@Model.Variables.TotInv.ToString(CurrencyFormat)</b></td>
                            <td></td>
                        </tr>

                    </tfoot>
                </table>
            </div>
            <hr />
        </form>
    }
}



<script src="~/js/BillPayable.js"></script>


