@page
@using System.Data;
@model Applied_WebApplication.Pages.Accounts.BillReceivableListModel
@{
    var UserName = User.Identity.Name;
    var FMTCurrency = AppRegistry.GetKey(UserName, "FMTCurrency", KeyType.Text).ToString();
    var FMTDate = AppRegistry.FormatDateY2;
}

<div class="AppHeading-2">
    <h5 class="TextCenter">BILL RECEIVABLE (LIST)</h5>
</div>

@if (Model.MyMessages.Count > 0)
{
    <component type="typeof(ErrorMessages)" render-mode="Static" param-Errors=@Model.MyMessages></component>
}

<form method="post">

    <div class="container">
        <div class="row">
            <div class="col">Filter Area</div>
        </div>
    </div>

    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Vou Code</th>
                    <th>Vou Date</th>
                    <th>Customer</th>
                    <th>Inv No</th>
                    <th>Inv Date</th>
                    <th>Rec Date</th>
                    <th>Amount</th>
                    <th style="width:10%">
                        <button type="submit"
                                class="btn btn-link btn-outline-light"
                                asp-page-handler="Add">
                            <i class="bi bi-database-fill-add text-success"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow Row in Model.BillReceivable.Rows)
                {
                    string _TitleCompany = AppFunctions.GetTitle(UserName, Tables.Customers, (int)Row["Company"]);
                    var _Vou_Date = (DateTime)Row["Vou_Date"];
                    var _Inv_Date = (DateTime)Row["Inv_Date"];
                    var _Pay_Date = (DateTime)Row["Pay_Date"];
                    var _Amount = (decimal)Row["Amount"];
                    <tr>
                        <td>@Row["Vou_No"].ToString()</td>
                        <td>@_Vou_Date.ToString(FMTDate)</td>
                        <td>@_TitleCompany</td>
                        <td>@Row["Inv_No"]</td>
                        <td>@_Inv_Date.ToString(FMTDate)</td>
                        <td>@_Pay_Date.ToString(FMTDate)</td>
                        <td class="table-col-amount">@_Amount.ToString(FMTCurrency)</td>
                        @if (Row["Status"].ToString() == VoucherStatus.Submitted.ToString())
                        {
                            <td class="text-center">
                                <button type="submit" class="listbutton-blue"
                                        asp-page-handler="Show"
                                        asp-route-ID="@Row["ID"]">
                                    <i class="bi bi-pencil-fill" style="margin-right:5px"></i>
                                </button>

                                <button type="submit" class="listbutton-red"
                                        asp-page-handler="Delete"
                                        asp-route-ID="@Row["ID"]">
                                    <i class="bi bi-trash-fill" style="margin-right:5px"></i>
                                </button>

                                <button type="submit" class="listbutton-blue"
                                        asp-page-handler="Print"
                                        asp-route-ID="@Row["ID"]">
                                    <i class="bi bi-printer" style="margin-right:5px"></i>
                                </button>
                            </td>
                        }
                        else
                        {
                            <td>
                            <label class="TextCenter">Posted</label>
                            </td>
                        }
                    </tr>
                }

            </tbody>
        </table>
    </div>

</form>