@page
@using System.Data
@using Applied_WebApplication
@model Applied_WebApplication.Pages.Accounts.BillPayableListModel
@{
    var UserName = User.Identity.Name;
}

<div class="container AppHeading">
    <h3>BILL PAYABLE (LIST)</h3>
</div>

<form method="post">
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Vou Code</th>
                    <th>Vou Date</th>
                    <th>Company</th>
                    <th>Inv No</th>
                    <th>Inv Date</th>
                    <th>Pay Date</th>
                    <th>Amount</th>
                    <th>..</th>

                </tr>
            </thead>
            <tbody>
                @foreach (DataRow Row in Model.BillPayable.MyDataTable.Rows)
                {
                    string _TitleCompany = AppFunctions.GetTitle(UserName, Tables.Customers, (int)Row["Company"]);
                    string _Vou_Date = DateTime.Parse(Row["Vou_Date"].ToString()).ToString(AppRegistry.FormatDate);
                    string _Inv_Date = DateTime.Parse(Row["Inv_Date"].ToString()).ToString(AppRegistry.FormatDate);
                    string _Pay_Date = DateTime.Parse(Row["Pay_Date"].ToString()).ToString(AppRegistry.FormatDate);

                    <tr>
                        <td>@Row["Vou_No"].ToString()</td>
                        <td>@_Vou_Date</td>
                        <td>@_TitleCompany</td>
                        <td>@Row["Inv_No"]</td>
                        <td>@_Inv_Date</td>
                        <td>@_Pay_Date</td>
                        <td>@Row["Amount"]</td>
                        <td>
                            <a asp-page="BillPayable" asp-page-handler="Edit" asp-route-id=@Row["ID"] asp-route-Srno="1" >
                                <i class="bi bi-pencil-fill text-primary" style="margin-right:5px"></i>
                            </a>
                            <a asp-page="BillPayable" asp-page-handler="Delete" asp-route-id=@Row["ID"] asp-route-Srno="1">
                                <i class="bi bi-trash text-danger"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!--Buttons Area-->
    <div>
        <input type="submit" class="btn btn-primary" value="Add" asp-page="BillPayable" asp-route-id="0" asp-page-handler="New" formmethod="get" />
    </div>
</form>