@page
@using System.Data
@using Applied_WebApplication
@model Applied_WebApplication.Pages.Accounts.BillPayableListModel
@{
    var UserName = User.Identity.Name;
    var FMTCurrency = AppRegistry.GetKey(UserName, "FMTCurrency", KeyType.Text).ToString();
    var MFTDate = AppRegistry.GetKey(UserName, "FMTDate", KeyType.Text).ToString();
    var DateFormat = AppRegistry.FormatDateY2;

}

<div class="container AppHeading-2">
    <h5 class="TextCenter">BILL PAYABLE (LIST)</h5>
</div>

<form method="post">
    <div class="container">
        <table class="table-list">
            <thead>
                <tr>
                    <th width="10%">Vou Code</th>
                    <th width="10%">Vou Date</th>
                    <th width="30%">Company</th>
                    <th width="10%">Inv No</th>
                    <th width="10%">Inv Date</th>
                    <th width="10%">Pay Date</th>
                    <th width="10%">Amount</th>
                    <th width="10%">..</th>

                </tr>
            </thead>
            <tbody>
                @foreach (DataRow Row in Model.BillPayable.MyDataTable.Rows)
                {
                    string _TitleCompany = AppFunctions.GetTitle(UserName, Tables.Customers, (int)Row["Company"]);
                    var _Vou_Date = (DateTime)Row["Vou_Date"];
                    var _Inv_Date = (DateTime)Row["Inv_Date"];
                    var _Pay_Date = (DateTime)Row["Pay_Date"];
                    decimal _Amount = (decimal)Row["Amount"];
                    <tr>
                        <td>@Row["Vou_No"].ToString()</td>
                        <td>@_Vou_Date.ToString(DateFormat)</td>
                        <td>@_TitleCompany</td>
                        <td>@Row["Inv_No"]</td>
                        <td>@_Inv_Date.ToString(DateFormat)</td>
                        <td>@_Pay_Date.ToString(DateFormat)</td>
                        <td class="table-col-amount">@_Amount.ToString(FMTCurrency)</td>
                        <td>
                            <a formaction="get"
                              asp-page="BillPayable"
                              asp-route-id=@Row["ID"]
                              asp-route-id2="-1">
                              
                            <i class="bi bi-pencil-fill text-primary" style="margin-right:5px"></i>
                            </a>
                            <a asp-page="BillPayableList"
                              asp-page-handler="Delete"
                              asp-route-id=@Row["ID"]
                              asp-route-Srno="1">
                                <i class="bi bi-trash text-danger"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!--Buttons Area-->
    <div>
        <input type="submit" class="btn btn-primary" value="Add" asp-page="BillPayable" asp-route-id="0" asp-page-handler="New" formmethod="get" />
    </div>
</form>