@page
@using System.Data
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Primitives
@using static Applied_WebApplication.Data.AppFunctions;
@model Applied_WebApplication.Pages.Accounts.CashBookModel
@{
    var UserName = User.Identity.Name;
    var UserData = new UserProfile(UserName);
    var CashCode = 1;
    var COATitles = Titles(UserName, Tables.COA, "Nature=" + CashCode.ToString());
    var FMTAmount = AppRegistry.Currency2d;
    var FMTDate = AppRegistry.GetText(UserName, "FMTDate");
    var TitleBook = GetTitle(UserName, Tables.COA, Model.Variables.CashBookID);
    var Date1 = Model.Variables.MinDate.ToString("yyyy-MM-dd");
    var Date2 = Model.Variables.MaxDate.ToString("yyyy-MM-dd");
    var _BAL = 0.00M;



    var _SelectPosted = "SELECT...";
}

<style>
    .date-1 {
        width: 100px
    }

    .box {
        height: 100%;
    }
</style>

<form method="post">

    <input class="text" asp-for="@Model.Variables.ID" hidden />
    <!--Cash Book Heading Blue Bar-->
    <div class="container p-2 bg-info text-white rounded justify-content-between">
        <div class="row d-flex align-items-center text-black">

            <div class="col-md-2 mb-1">
                <select class="form-select" aria-label="Select a Cash Book" asp-for="@Model.Variables.CashBookID">
                    <option selected>@TitleBook</option>
                    @foreach (KeyValuePair<int, string> _Title in Titles(UserName, Tables.CashBookTitles))
                    {
                        <option value="@_Title.Key">@_Title.Value</option>
                    }
                </select>
            </div>
            <div class="col mb-1" style="width:130px">
                <div class="input-group">
                    <span class="input-group-text" style="width:30%" id="From">Start</span>
                    <input type="date" class="form-control text-center" id="MinDate" style="width:70%" min="2020-01-01" value=@Date1 asp-for=@Model.Variables.MinDate />
                </div>
            </div>
            <div class="col mb-1 " style="width:300px">
                <div class="input-group">
                    <input type="date" class="form-control text-center" id="MaxDate" style="width:70%" min="2020-01-01" value=@Date2 asp-for=@Model.Variables.MaxDate />
                    <span class="input-group-text" style="width:30%" id="To">End</span>
                </div>
            </div>
            <div class="col-md-2 mb-1">
                <select class="form-select" aria-label="Select a Posted ID" asp-for="@Model.Variables.IsPosted1">
                    <option selected>@_SelectPosted</option>
                    <option value="0">All</option>
                    <option value="1">Posted</option>
                    <option value="2">Submitted</option>
                </select>
            </div>
            <div class="col-md-2 mb-1">
                <button class=" btn btn-primary " type="submit" name="Refresh" asp-page-handler="Refresh">
                    REFRESH
                </button>
            </div>
            <div class="col-md-1 mb-1">
                @if (Model.Variables.CashBookID > 0)
                {
                    <button class="btn btn-primary float-end" type="Submit" id="btnAdd"
                            asp-page-handler="Add">
                        ADD
                    </button>
                }
            </div>
        </div>
    </div>

    <!-- SHOW CASH BOOK RECORD -->
    <div class="container">
        <!--DISBALE / HIDDEN VALUES-->
        <input hidden type="text" name="CashBookID" value="@Model.Variables.CashBookID" />                  <!--  Generate CashBookID i-->
        <!---->
        <div class="row">
            <div class="overflow-auto" style="height:calc(100vh - 175px)">
                @if (Model.Cashbook.Rows.Count > 0)
                {

                    <table class="table-list mt-2">
                        <thead>
                            <tr>
                                <th style="width:10%">Date</th>
                                <th style="width:10%">Vou No</th>
                                <th style="width:40%">Description</th>
                                <th style="width:10%; text-align: right">Paid</th>
                                <th style="width:10%; text-align: right">Received</th>
                                <th style="width:10%; text-align: right">Balance</th>
                                <!--CASH BOOK ADD BUTTON-->
                                <th style="width:10%; text-align: right">
                                    <button class="btn btn-primary float-end" type="Submit" id="btnAdd"
                                            asp-page-handler="Add">
                                        <i class="bi bi-database-add"></i>

                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow Row in Model.Cashbook.Rows)
                            {
                                decimal _DR = Conversion.ToDecimal(Row["DR"]);
                                decimal _CR = Conversion.ToDecimal(Row["CR"]);
                                _BAL += (_CR - _DR);
                                DateTime _Date = (DateTime)Row["Vou_Date"];

                                <tr>
                                    <td class="text-center">@_Date.ToString(FMTDate)</td>
                                    <td class="text-center">@Row["Vou_No"].ToString()</td>
                                    <td>@Row["Description"].ToString()</td>
                                    <td class="amount">@_DR.ToString(FMTAmount)</td>
                                    <td class="amount">@_CR.ToString(FMTAmount)</td>
                                    @if (decimal.Parse(_BAL.ToString()) > 0)
                                    {
                                        <td class="table-col-amount">@_BAL.ToString(FMTAmount)</td>
                                    }
                                    else
                                    {
                                        <td class="table-col-amount-red">@_BAL.ToString(FMTAmount)</td>
                                    }

                                    @if (Row["Status"].ToString() == VoucherStatus.Submitted.ToString())
                                    {
                                        <td class="text-center">
                                            <button class="btn btn-link btn-sm listbutton-blue"
                                                    asp-page-handler="Edit"
                                                    asp-route-ID="@Row["ID"]">
                                                <i class="bi bi-pencil-fill"></i>
                                            </button>

                                            <button class="btn btn-link btn-sm listbutton-red"
                                                    asp-page-handler="Delete"
                                                    asp-route-ID="@Row["ID"]">
                                                <i class="bi bi-trash-fill"></i>
                                            </button>

                                            <button class="btn btn-link btn-sm listbutton-green"
                                                    asp-page-handler="Print"
                                                    asp-route-Vou_No="@Row["Vou_No"]">
                                                <i class="bi bi-printer text-success"></i>
                                            </button>

                                        </td>
                                    }
                                    else
                                    {
                                        <td class="text-center">
                                            <button class="btn btn-link"
                                                    asp-page-handler="Print"
                                                    asp-route-Vou_No="@Row["Vou_No"]">
                                                <i class="bi bi-printer text-success"></i>
                                            </button>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>

                }
                else
                {
                    <h4>No Record Found</h4>
                }
            </div>
        </div>
    </div>
</form>
