@using Applied_WebApplication.Pages.Accounts
@using Applied_WebApplication.Data
@using System.Data
@using static Applied_WebApplication.Pages.Accounts.CashBookModel
@using static Applied_WebApplication.Data.AppFunctions;

@code {
    [Parameter]
    public BookRecord Row { get; set; }
    [Parameter]
    public string UserName { get; set; }
}

<style>

    .input-group-text {
        width: 25%
    }

    .form-control {
        width: 75%
    }

</style>


<!--ERRORS AREA  -->
    @*
    @if (Model.MyParameters.IsError && Model.ErrorMessages.Count > 0)
    {
    <div class="container mt-2 mb-2 align-content-center bg-info">
        @foreach (Message Errormsg in Model.ErrorMessages)
        {
            <div style="padding: 5px;"> @Errormsg.Msg   </div>
        }
    </div>
    }
    *@

<form method="post">

    <div class="container">
        <div>
            <input type="text"
                   hidden
                   name="ID"
                   value=@Row.ID
                   class="form-control">
        </div>
        <div class="row">
            <div class="col input-group mb-3">
                <span class="input-group-text" id="VouNo">Vou. No.</span>
                <input type="text"
                       name="Vou_No"
                       value=@Row.Vou_No
                       class="form-control"
                       placeholder="Voucher No"
                       aria-label="Vou_No"
                       aria-describedby="VouNo">
                <button class="btn btn-outline-secondary" type="button">Auto Generate</button>
            </div>
            <div class="col input-group mb-3">
                <span class="input-group-text" id="VouDate">Voucher Date</span>
                <input type="Date"
                       name="Vou_Date"
                       value=@(DateTime.Parse(Row.Vou_Date.ToString()).ToString("yyyy-MM-dd"))
                       class="form-control"
                       placeholder="Voucher Date"
                       aria-describedby="VouDate">
            </div>
            <div class="col input-group mb-3">
                <span class="input-group-text" style="width: 120px" id="COAID">Company</span>
                <select class="form-select" name="Customer">
                    @foreach (KeyValuePair<int, string> _Title in Titles(UserName, Tables.Customers))
                    {
                        <option>@_Title.Value</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col input-group mb-3">
                <span class="input-group-text" style="width: 120px" id="COAID">Account</span>
                <select class="form-select" name="COA">
                    @foreach (KeyValuePair<int, string> _Title in Titles(UserName, Tables.COA))
                    {
                        <option>@_Title.Value</option>
                    }
                </select>
            </div>
            <div class="col input-group mb-3">
                <span class="input-group-text" style="width: 30%" id="Debit">Debit</span>
                <input type="number"
                       style="width: 70%"
                       name="DR"
                       value=@Row.DR
                       class="form-control"
                       placeholder="Voucher Date"
                       aria-describedby="VouDate">

            </div>
            <div class="col input-group mb-3">
                <span class="input-group-text" style="width: 30%" id="Credit">Credit</span>
                <input type="number"
                       style="width: 70%"
                       name="CR"
                       value=@Row.CR
                       class="form-control"
                       placeholder="Voucher Date"
                       aria-describedby="VouDate">

            </div>
        </div>
        <div class="row">
            <div class="input-group mb-3">
                <span class="input-group-text" style="width: 120px" id="Description">Description</span>
                <input type="text"
                       name="Description"
                       value=@Row.Description
                       class="form-control"
                       aria-label="Description"
                       aria-describedby="Description">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" style="width: 120px" id="Description">Comments</span>
                <input type="text"
                       name="Description"
                       value=@Row.Comments
                       class="form-control"
                       aria-label="Description"
                       aria-describedby="Description">
            </div>
        </div>
        <div class="row">
            <div class="col input-group mb-3">
                <span class="input-group-text" style="width: 120px" id="COAID">Projects</span>
                <select class="form-select" name="Project">
                    @foreach (KeyValuePair<int, string> _Title in Titles(UserName, Tables.Project))
                    {
                        <option>@_Title.Value</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col input-group mb-3">
                <span class="input-group-text" style="width: 120px" id="COAID">Employee</span>
                <select class="form-select" name="Employee">
                    <option selected>@Row.Employee</option>
                    @foreach (KeyValuePair<int, string> _Title in Titles(UserName, Tables.Employees))
                    {
                        <option>@_Title.Value</option>
                    }
                </select>
            </div>
        </div>
        <!--BUTTON-->
        <div class="row">
            <a><input type="submit" class="btn btn-primary" value="SAVE" @ /></a>
            <a><input type="submit" class="btn btn-primary" value="BACK" onclick=onClickFunction() /></a>
        </div>
    </div>

</form>