@page
@using System.Data
@model Applied_WebApplication.Pages.Accounts.COA_AddModel
@{
    var UserName = User.Identity.Name;
}


<div class="mt-3 p-2 bg-success text-white rounded">
    <h3>CHART OF ACCOUNTS - ADD </h3>
</div>
<br />

<form method="post">


    <div class="container p-2">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="row text-start">
            <div class="col-2"><label asp-for="_Record.ID">Account ID</label></div>
            <div class="col-4"><input type="text" class="form-control" id="txtID" name="ID" asp-for="_Record.ID"></div>
            <div class="col-2"> <label class="col-2 " asp-for="_Record.Code">Account Code</label></div>
            <div class="col-4"> <input type="text" class="form-control" id="txtCode" name="Code" asp-for="_Record.Code"> </div>
        </div>
        <div class="row text-start">
            <div class="col-2"><label class="col-2 " asp-for="_Record.Title">Account Title</label></div>
            <div class="col-4"><input type="text" class="form-control" id="txtTitle" name="Title" asp-for="_Record.Title"> </div>
            <div class="col-2"><label class="col-2 " asp-for="_Record.OBal">Opening Balance</label>  </div>
            <div class="col-4"><input type="text" class="form-control" id="txtOBal" name="Opening Balance" asp-for="_Record.OBal"> </div>
        </div>
        <br />
    </div>
    <div class="container p-2">
        <div class="Row">
            <div class="input-group mb-3">
                <label class="input-group-text g-2" for="hd_Class" disabled>Class of Account</label>
                <select class="form-select" id="inputCOA_Class" name="COA_Class" asp-for=_Record.COA_Class>
                    <option selected>@Model.Title_Class</option>
                    @if (Model.COA_Class.MyDataTable.Rows != null)
                    {
                        @foreach (DataRow _Record in Model.COA_Class.MyDataTable.Rows)
                        {
                            <option value=@_Record["ID"]> @_Record["Title"] </option>
                        }
                    }
                </select>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text g-2" for="hd_Nature" disabled style="width:250px;">Nature of Account</label>
                <select class="form-select" id="inputCOA_Nature" name="COA_Nature" asp-for=_Record.COA_Nature>
                    <option selected>@Model.Title_Nature</option>
                    @if (Model.COA_Nature.MyDataTable.Rows != null)
                    {
                        @foreach (DataRow _Record in Model.COA_Nature.MyDataTable.Rows)
                        {
                            <option value=@_Record["ID"]> @_Record["Title"] </option>
                        }
                    }
                </select>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text g-2" for="hd_Nature" disabled style="width:250px;">Notes of Account</label>
                <select class="form-select" id="inputCOA_Notes" name="COA_Notes" asp-for=_Record.COA_Notes>
                    <option selected>@Model.Title_Notes</option>
                    @if (Model.COA_Notes.MyDataTable.Rows != null)
                    {
                        @foreach (DataRow _Record in Model.COA_Notes.MyDataTable.Rows)
                        {
                            <option value=@_Record["ID"]> @_Record["Title"] </option>
                        }
                    }
                </select>
            </div>
        </div>
        <br />
    </div>
    <div class="container p-2">
        <div class="row">
            <div class="col-1"> <input type="submit" class="button btn-primary" value="Save" asp-page-handler="Submit" asp-route-UserName=@UserName /> </div>
            <div class="col-1">  <input type="submit" class="button btn-primary" value="Back" asp-page-handler="Back" /> </div>
        </div>
    </div>

    <br />


</form>