@page
@using System.Data
@model Applied_WebApplication.Pages.Accounts.COA_AddModel
@{
}

<div class="container-lg text-danger">
    <div class="card-body">CHART OF ACCOUNT - ADD RECORD</div>
</div>
<br />

<form method="post">

    
    <div class="container text-md-start w3-border-blue-grey g-1">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="row text-start">
            <label class="col-sm-2 col-form-label-sm" asp-for="_Record.ID">Account ID</label>
            <div class="col-sm-10">
                <input type="text" style="width:200px" class="form-control form-control-sm" id="txtID" name="ID" asp-for="_Record.ID">
            </div>
        </div>
        <div class="row text-start">
            <label class="col-sm-2 col-form-label-sm" asp-for="_Record.Code">Account Code</label>
            <div class="col-sm-10">
                <input type="text" style="width:200px" class="form-control form-control-sm" id="txtCode" name="Code" asp-for="_Record.Code">
            </div>
        </div>
        <div class="row text-start">
            <label class="col-sm-2 col-form-label-sm" asp-for="_Record.Title">Account Title</label>
            <div class="col-sm-10">
                <input type="text" style="width:400px" class="form-control form-control-sm" id="txtTitle" name="Title" asp-for="_Record.Title">
            </div>
        </div>
        <div class="row text-start">
            <label class="col-sm-2 col-form-label-sm" asp-for="_Record.OBal">Opening Balance</label>
            <div class="col-sm-10">
                <input type="text" style="width:200px" class="form-control form-control-sm" id="txtOBal" name="Opening Balance" asp-for="_Record.OBal">
            </div>
        </div>
    </div>

    <div class="container-lg pt-5">
        <div class="Row">
        </div>
        <br />
        <div class="row-cols-3">
            <div class="input-group mb-3">
                <label class="input-group-text g-2" for="hd_Class" disabled style="width:250px;">Class of Account</label>
                <select class="form-select" id="inputCOA_Class" name="COA_Class" asp-for=_Record.COA_Class>
                    <option selected>@Model.Title_Class</option>
                    @foreach (DataRow _Record in Model.COA_Class.MyDataTable.Rows)
                    {
                        <option value=@_Record["ID"]> @_Record["Title"] </option>
                    }
                </select>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text g-2" for="hd_Nature" disabled style="width:250px;">Nature of Account</label>
                <select class="form-select" id="inputCOA_Nature" name="COA_Nature" asp-for=_Record.COA_Nature>
                    <option selected>@Model.Title_Nature</option>
                    @foreach (DataRow _Record in Model.COA_Nature.MyDataTable.Rows)
                    {
                        <option value=@_Record["ID"]> @_Record["Title"] </option>
                    }
                </select>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text g-2" for="hd_Nature" disabled style="width:250px;">Notes of Account</label>
                <select class="form-select" id="inputCOA_Notes" name="COA_Notes" asp-for=_Record.COA_Notes>
                    <option selected>@Model.Title_Notes</option>
                    @foreach (DataRow _Record in Model.COA_Notes.MyDataTable.Rows)
                    {
                        <option value=@_Record["ID"]> @_Record["Title"] </option>
                    }
                </select>
            </div>
        </div>
        <br />

        <div class="row" style="width:400px;">

            <div class="form-group row" style="width:50%">
                <div class="col-5">  <input type="submit" class="button btn-primary" value="Save" asp-page-handler="Submit" />   </div>
            </div>

            <div class="form-group row" style="width:50%">
                <div class="col-5">  <input type="submit" class="button btn-primary" value="Back" asp-page-handler="Back" />   </div>
            </div>

        </div>


    </div>



</form>