@page
@using System.Data;
@model Applied_WebApplication.Pages.Accounts.JVListModel
@{
    var UserName = User.Identity.Name;
    var FMTCurrency = AppRegistry.GetKey(UserName, "FMTCurrency", KeyType.Text).ToString();
}



<div class="container AppHeading-2">
    <h5 class="TextCenter">JOURNAL VOUCHER (LIST)</h5>
</div>



<form method="post">
    <div class="container bg-info">
        <div class="row d-flex align-items-center text-black">
            <dir class="col-md-3">
                <div class="form-floating">
                    <input class="form-control" type="date" id="txtDateFrom" asp-for="@Model.Variables.DateFrom" placeholder="Date From" />
                    <label for="txtDateFrom">From</label>
                </div>
            </dir>
            <dir class="col-md-3">
                <div class="form-floating">
                    <input class="form-control" type="date" id="txtDateTo" asp-for="@Model.Variables.DateTo" placeholder="Date To" />
                    <label for="txtDateFrom">To</label>
                </div>
            </dir>
            <dir class="col-md-3">
                <div class="form-floating">
                    <input class="form-control" id="txtTest" placeholder="Test" />
                    <label formaction="txtTest">Test</label>
                </div>
            </dir>
            <dir class="col-md-3">
                <button type="submit" class="btn btn-premary" asp-page-handler="Refresh">REFRESH</button>
            </dir>
        </div>
    </div>




    <!-------------------Table -->
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Code</th>
                    <th>Debit</th>
                    <th>Credit</th>
                    <th>Description</th>
                    <th>..</th>

                </tr>
            </thead>
            <tbody>
                @if (Model.JVList != null)
                {
                    @foreach (DataRow Row in Model.JVList.Rows)
                    {
                        
                        decimal _DR = (decimal.Parse(Row["DR"].ToString()));
                        decimal _CR = (decimal.Parse(Row["CR"].ToString()));
                      
                        <tr>
                            <td>@Row["Vou_Date"].ToString()</td>
                            <td>@Row["Vou_No"].ToString()</td>
                           <td>@_DR.ToString(FMTCurrency)</td>
                            <td>@_CR.ToString(FMTCurrency)</td>
                            <td>@Row["Description"].ToString()</td>
                            
                            <td>
                                <button type="submit" class="btn-link border-0"
                                asp-route-Vou_No="@Row["Vou_No"]"
                                asp-route-Sr_No="1"
                                asp-page="JV">
                                <i class="bi bi-database-add"></i>
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <!--Buttons Area-->
    <div>
        <button type="submit" class="btn btn-primary btn-sm"
                asp-page="JV">
            <i class="bi bi-plus-lg"></i>
        </button>

    </div>
</form>