@page
@using System.Data;
@model Applied_WebApplication.Pages.Accounts.JVListModel
@{
    var UserName = User.Identity.Name;
    var FMTCurrency = AppRegistry.GetKey(UserName, "FMTCurrency", KeyType.Text).ToString();

    var Tot_DR = 0.00M;
    var Tot_CR = 0.00M;
}



<div class="container AppHeading-2">
    <h3>JOURNAL VOUCHER (LIST)</h3>
</div>



<form method="post">
    <div class="container list-filter">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-text" style="width:30%" id="From">Start</span>
                    <input type="date" class="form-control text-center" id="MinDate" style="width:70%" min="2020-01-01" asp-for=@Model.Variables.DateFrom />
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <input type="date" class="form-control text-center" id="MaxDate" style="width:70%" min="2020-01-01" asp-for=@Model.Variables.DateTo />
                    <span class="input-group-text" style="width:30%" id="To">End</span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-text" style="width:30%" id="To">Search</span>
                    <input type="Text" class="form-control text-center" id="SearchText" style="width:70%" asp-for=@Model.Variables.Search />

                </div>
            </div>

            <div class="col-md-2">
                <button class="btn btn-primary float-end" asp-page-handler="Refresh">
                    Refresh
                </button>
            </div>
            
        </div>
    </div>




    <!-------------------Table -->
    <div class="container mt-2">
        <table class="table-list">
            <thead>
                <tr>
                    <th class="text-center" style="width:10%">Date</th>
                    <th class="text-center" style="width:10%">Vou. No</th>
                    <th class="text-center" style="width:10%">Debit</th>
                    <th class="text-center" style="width:10%">Credit</th>
                    <th class="text-center" style="width:50%">Description</th>
                    <th class="text-center" style="width:10%; text-align: center">
                        <button type="submit" class="listbutton-green"
                                asp-page-handler="New">
                            <i class="bi bi-database-add"></i>
                        </button>
                    </th>

                </tr>
            </thead>
            <tbody>
                @if (Model.JVList != null)
                {
                    @foreach (DataRow Row in Model.JVList.Rows)
                    {
                        string _Date = AppFunctions.GetDate(Row["Vou_Date"]);
                        decimal _DR = (decimal.Parse(Row["DR"].ToString()));
                        decimal _CR = (decimal.Parse(Row["CR"].ToString()));

                        Tot_DR += _DR; Tot_CR += _CR;

                      
                        <tr>
                            <td class="text-center">@_Date</td>
                            <td class="text-center">@Row["Vou_No"].ToString()</td>
                            <td class="amount">@_DR.ToString(FMTCurrency)</td>
                            <td class="amount">@_CR.ToString(FMTCurrency)</td>
                            <td class="px-2">@Row["Description"].ToString()</td>

                            <td style="text-align: center">
                                <button type="submit" class="listbutton-blue"
                                        asp-route-Vou_No="@Row["Vou_No"]"
                                        asp-page-handler="JV2">
                                    <i class="bi bi-pencil-fill"></i>
                                </button>
                                <button type="submit" class="listbutton-red"
                                asp-route-Vou_No="@Row["Vou_No"]"
                                asp-page-handler="Delete">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th class="amount-blue">@Tot_DR.ToString(FMTCurrency)</th>
                    <th class="amount-blue">@Tot_DR.ToString(FMTCurrency)</th>
                    <th></th>
                    <th style="text-align: center">
                        <button type="submit" class="listbutton-green"
                                asp-page-handler="New">
                            <i class="bi bi-database-add"></i>
                        </button>
                    </th>
                </tr>

            </tfoot>
        </table>
    </div>
    
</form>