@page
@using AppReportClass
@model Applied_WebApplication.Pages.Accounts.ReceiptModel
@{
    string UserName = User.Identity.Name;


    Model.tbPayers = GetList(UserName, Tables.Customers, "");

    string PayerTitle = Model.tbPayers.Where(e => e.Key == Model.Variables.Payer).FirstOrDefault().Value; 
    string RevenueTitle = GetTitle(UserName, Tables.COA, Model.Variables.COA); ;
    string CashBankTitle = GetTitle(UserName, Tables.COA, Model.Variables.COACash);
    string EmployeeTitle = GetTitle(UserName, Tables.COA, Model.Variables.Employee);
    string ProjectTitle = GetTitle(UserName, Tables.COA, Model.Variables.Project);
    //Model.tbAccounts = AppFunctions.Titles(UserName, SQLQuery.ReceiptAccounts());

    int CashBookID = AppRegistry.GetNumber(UserName, "CashBookID");
    int BankBookID = AppRegistry.GetNumber(UserName, "BankBookID");
    int RevenueID = AppRegistry.GetNumber(UserName, "RevenueNote");
    string _FilterCashBank = $"Nature IN ({CashBookID},{BankBookID})";
    string _FilterRevenue = $"Nature = {RevenueID}";

    string UserRole = UserProfile.GetUserRole(User);

    var Options = new Dictionary<int, string>
        {
            { 1, "Apple" },
            { 2, "Banana" },
            { 3, "Cherry" },
            { 4, "Date" },
            { 5, "Elderberry" },
            { 6, "Fig" },
            { 7, "Grapes" }
        };

}


<div class="AppHeading-2">
    <h3>RECEIPT</h3>
</div>


@if (Model.MyMessages.Count > 0)
{
    <component type="typeof(ErrorMessages)" render-mode="Static" param-Errors=@Model.MyMessages></component>
}


@if (Model.MyMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Message! </strong> @Model.MyMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}




<form method="post">
    <div class="container justify-content-around">
        <input type="number" asp-for="@Model.Variables.ID" hidden />
        <input type="text" asp-for="@Model.Variables.Status" hidden />
        <!--Row Vou no, Vou_Date, Reference No.-->
        <div class="row">
            <div class="col-md-3">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" asp-for="@Model.Variables.Vou_No" id="Vou_No" readonly>
                    <label for="Vou_No">Voucher No</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" asp-for="@Model.Variables.Vou_Date" id="Vou_Date">
                    <label for="Vou_Date">Voucher Date</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" asp-for="@Model.Variables.Ref_No" id="Ref_No">
                    <label for="Vou_Date">Reference</label>
                </div>
            </div>

        </div>

        <!-- Cash / Bank, Revenue, Project -->
        <div class="row">
            <div class="col-md-3">
                <div class="form-floating mb-3">
                    <select class="form-select" id="CashBank" aria-label="Floating label CashBank" asp-for="@Model.Variables.COACash">
                        <option selected>@CashBankTitle</option>
                        @foreach (KeyValuePair<int, string> _Title in Titles(UserName, Tables.COA, _FilterCashBank))
                        {
                            <option value="@_Title.Key">@_Title.Value</option>
                        }

                    </select>
                    <label for="CashBank">Cash / Bank</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating position-relative">
                    <input type="text" id="searchInput" class="form-control" placeholder="Search..." autocomplete="off" asp-for="@PayerTitle">
                    <input type="hidden" id="payerId" asp-for="@Model.Variables.Payer">
                    <label for="searchInput">Payer</label>
                    <div class="dropdown-menu w-100 show mt-1" id="dropdownList" style="display: none; max-height: 200px; overflow-y: auto;">
                        @foreach (var item in Model.tbPayers)
                        {
                            <button class="dropdown-item" type="button" data-id="@item.Key">@item.Value</button>
                        }
                    </div>
                </div>
                @* <div class="form-floating mb-3">
                    <select class="form-select is-invalid" id="Customer" aria-label="Floating label Payer" asp-for="@Model.Variables.Payer">
                        <option selected>@PayerTitle</option>
                        @foreach (KeyValuePair<int, string> _Title in Titles(UserName, Tables.Customers))
                        {
                            <option value="@_Title.Key">@_Title.Value</option>
                        }

                    </select>
                    <label for="Customer">Payer</label>
                    
                </div> *@
                
            </div>
            @* <div class="col-md-1">
                <button type="button" class="btn btn-success mnu" data-bs-toggle="modal" data-bs-target="#ShowRecord"><i class="bi bi-arrow-up"></i></button>

            </div> *@
                       

            <div class="col-md-3">
                <div class="form-floating mb-3">
                    <select class="form-select" id="Revenue" aria-label="Floating label Revenue" asp-for="@Model.Variables.COA">
                        <option selected>@RevenueTitle</option>
                        @foreach (KeyValuePair<int, string> _Title in Titles(UserName, Tables.COA, _FilterRevenue))
                        {
                            <option value="@_Title.Key">@_Title.Value</option>
                        }
                    </select>
                    <label for="Revenue">Account Head</label>
                </div>
            </div>

        </div>

        <!--Project, Employee, Amount-->
        <div class="row">
            <div class="col-md-3">
                <div class="form-floating mb-3">
                    <select class="form-select" id="Project" aria-label="Floating label Project" asp-for="@Model.Variables.Project">
                        <option selected>@ProjectTitle</option>
                        @foreach (KeyValuePair<int, string> _Title in Titles(UserName, Tables.Project))
                        {
                            <option value="@_Title.Key">@_Title.Value</option>
                        }

                    </select>
                    <label for="Project">Project</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating mb-3">
                    <select class="form-select" id="COA" aria-label="Floating label Employee" asp-for="@Model.Variables.Employee">
                        <option selected>@EmployeeTitle</option>
                        @foreach (KeyValuePair<int, string> _Title in Titles(UserName, Tables.Employees))
                        {
                            <option value="@_Title.Key">@_Title.Value</option>
                        }
                    </select>
                    <label for="Employee">Employee</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" asp-for="@Model.Variables.Amount" id="txtAmount">
                    <label for="txtAmount">Amount</label>
                </div>
            </div>
        </div>

        <!-- Description -->
        <div class="row">
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" asp-for="@Model.Variables.Description" id="txtDescription">
                    <label for="txtDescription">Description (Remarks)</label>
                </div>
            </div>
            @if (UserRole == "Administrator")
            {
                <div class="col-md-3">
                    <div class="form-floating mb-3">
                        <input type="text" disabled class="form-control" asp-for="@Model.Variables.Status" id="txtDescription">
                        <label for="txtDescription">Status</label>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="container justify-content-center">
        <div class="row">
            <div class="col">

                <button type="button" class="btn btn-success mnu" data-bs-toggle="modal" data-bs-target="#SaveRecord">Save</button>

                @if (Model.Variables.Vou_No != "New")
                {
                    <button type="submit" class="btn btn-primary mnu" asp-page-handler="New">New</button>
                    <button type="submit" class="btn btn-danger mnu" asp-page-handler="Delete">Delete</button>
                    <button type="submit" class="btn btn-light mnu" asp-page-handler="Email">Email</button>
                    <button type="submit" class="btn btn-light mnu" asp-page-handler="SMS">SMS</button>

                    <div class="dropdown btn-print">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                            Print <i class="bi bi-printer"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><button type="submit" class="btn btn-link border-0" asp-page-handler="Print" asp-route-_ReportType="@ReportType.Preview">Preview</button></li>
                            <li><button type="submit" class="btn btn-link border-0" asp-page-handler="Print" asp-route-_ReportType="@ReportType.PDF">PDF</button></li>
                            <li><button type="submit" class="btn btn-link border-0" asp-page-handler="Print" asp-route-_ReportType="@ReportType.Excel">Excel</button></li>
                            <li><button type="submit" class="btn btn-link border-0" asp-page-handler="Print" asp-route-_ReportType="@ReportType.Word">Word</button></li>
                            <li><button type="submit" class="btn btn-link border-0" asp-page-handler="Print" asp-route-_ReportType="@ReportType.HTML">HTML</button></li>
                            <li><button type="submit" class="btn btn-link border-0" asp-page-handler="Print" asp-route-_ReportType="@ReportType.Image">Image</button></li>
                        </ul>
                    </div>
                }
                <button type="submit" class="btn btn-primary mnu btn-print" asp-page-handler="Back">Back</button>

            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="SaveRecord" tabindex="-1" aria-labelledby="SaveRecordLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="SaveRecordLabel">SAVE RECEIPT</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Save Voucher No @Model.Variables.Vou_No
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-sm" asp-page-handler="Save">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Show Modal -->
    <div class="modal fade" id="ShowRecord" tabindex="-1" aria-labelledby="showRecordLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="ShowRecordLabel">SHOW RECEIPT</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-3">
                        <div class="form-floating mb-3">
                            <input type="text" disabled class="form-control" asp-for="@Model.Variables.SearchText" id="txtSearchText">
                            <label for="txtSearchText">Status</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Calcel</button>
                    <button type="submit" class="btn btn-primary btn-sm" asp-page-handler="SelectCustomer">Select</button>
                </div>
            </div>
        </div>
    </div>

    

    
</form>

<script>
    $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#dropdownList").show();
            $(".dropdown-item").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });

        $(".dropdown-item").on("click", function () {
            var payerName = $(this).text();
            var payerId = $(this).data("id");

            $("#searchInput").val(payerName); // Set text input value
            $("#payerId").val(payerId); // Set hidden input value (ID)

            $("#dropdownList").hide();
        });

        $(document).on("click", function (event) {
            if (!$(event.target).closest(".form-floating").length) {
                $("#dropdownList").hide();
            }
        });
    });
</script>



<style>
    .mnu {
        width: 100px;
    }

    .btn-print {
        position: relative;
        float: right;
        margin-left: 5px;
        margin-right: 5px;
    }

    .pageBody {
        margin-left: 50%;
        margin-right: 50%;
    }

</style>