@page
@using System.Data
@model Applied_WebApplication.Pages.Accounts.ReceiptListModel
@{
    var UserName = User.Identity.Name;
    var TitleAccount = GetTitle(UserName, Tables.COA, Model.Variables.Account);
    var TitlePayer = GetTitle(UserName, Tables.COA, Model.Variables.Payer);
    var ListAccount = Titles(UserName, SQLQuery.ReceiptAccounts());
    var ListPayer = Titles(UserName, Tables.Customers);
    var Role = UserProfile.GetUserRole(User);
}


<div class="AppHeading-2">
    <h3>List of Receipts</h3>
</div>

<form method="post">
    <div class="container list-filter">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-text" style="width:30%" id="From">Start</span>
                    <input type="date" class="form-control text-center" id="MinDate" style="width:70%" min="2020-01-01" asp-for=@Model.Variables.From />
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <input type="date" class="form-control text-center" id="MaxDate" style="width:70%" min="2020-01-01" asp-for=@Model.Variables.To />
                    <span class="input-group-text" style="width:30%" id="To">End</span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-text" style="width:30%" id="To">Search</span>
                    <input type="Text" class="form-control text-center" id="SearchText" style="width:70%" asp-for=@Model.Variables.Search />

                </div>
            </div>

            <div class="col-md-2">
                <button class="btn btn-primary float-end" asp-page-handler="Refresh">
                    Refresh
                </button>
            </div>
        </div>
    </div>

    <div class="container mt-2">
        <table class="table-list">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Receipt</th>
                    <th>Payer</th>
                    <th>Account</th>
                    <th>Project</th>
                   @*  <th>Employee</th> *@
                    <th class="amount">Amount</th>
                    <th style="text-align: center;">
                        <button class="btn btn-primary" asp-page-handler="New"><i class="bi bi-clipboard-plus-fill"></i></button>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow Row in Model.ReceiptList.Rows)
                {
                    var _Amount = ((decimal)Row["Amount"]).ToString(AppRegistry.Currency2d);
                    var _Date = ((DateTime)Row["Vou_Date"]).ToString(AppRegistry.FormatDateM2);
                    var _Status = (string)Row["Status"];


                    <tr>
                        <td style="width:10%">@_Date</td>
                        <td style="width:10%">@Row["Vou_No"]</td>
                        <td style="width:15%">@Row["PayerTitle"]</td>
                        <td style="width:15%">@Row["ProjectTitle"]</td>
                        <td style="width:15%">@Row["AccountTitle"]</td>
                        @* <td style="width:15%">@Row["EmployeeTitle"]</td> *@
                        <td style="width:10%" class="amount-blue">@_Amount</td>

                        <td style="width:10%; text-align: center">
                            @if (_Status == "Submitted")
                            {
                                <button id="b1" type="submit" style="padding:0px;color:darkblue"
                                        asp-page-handler="Edit"
                                        asp-route-ID="@Row["ID"]"
                                        class="btn btn-link">
                                    <i class="bi bi-pencil-fill"></i>
                                </button>
                                <button id="b2" type="submit" style="padding:0px;color:red"
                                        asp-page-handler="Delete"
                                        asp-route-ID="@Row["ID"]"
                                        class="btn btn-link">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            }
                            <button id="b3" type="submit" style="padding:0px;color:green"
                                    asp-page-handler="Print"
                                    asp-route-ID="@Row["ID"]"
                                    asp-route-Vou_No="@Row["Vou_No"]"
                                    class="btn btn-link">
                                <i class="bi bi-printer-fill"></i>
                            </button>
                            @if(Role=="Administrator")
                            {
                                <button id="b3" type="submit" style="padding:0px;color:darkgoldenrod"
                                        asp-page-handler="UnPost"
                                        asp-route-ID="@Row["ID"]"
                                        asp-route-Vou_No="@Row["Vou_No"]"
                                        class="btn btn-link">
                                    <i class="bi bi-card-checklist"></i>
                                </button>
                            }

                        </td>
                    </tr>
                }

            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>TOTAL</td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
</form>