@page
@using System.Data;
@model Applied_WebApplication.Pages.Accounts.VouchersListModel
@{
    var UserName = User.Identity.Name;

}




<!-------------------------------------------------------------------------------- VOUCHER DETAILS (RECORDS)---->
<form method="post">
    <div class="container bg-info align-baseline">
        <div class="row p-1 align-content-center">
            <div class="col-2"> VOUCHERS LIST </div>
            <div class="col-3">
                <select class="form-select" asp-for="@Model.Variables.VouType">
                    <option selected>Select......</option>
                    <option value="@VoucherType.Cash.ToString()">Cash Book</option>
                    <option value="2">Bankbook</option>
                    <option value="3">Write Cheque</option>
                    <option value="4">Bill Payable</option>
                    <option value="5">Bill Receivable</option>
                    <option value="6">Payment</option>
                    <option value="7">Receipt</option>
                </select>
            </div>
            <div class="col-3">From <input type="date" asp-for="@Model.Variables.DateFrom" /></div>
            <div class="col-3">To <input type="date" asp-for="@Model.Variables.DateTo" /></div>
            <div class="col-1"><input type="submit" class="btn btn-primary" asp-page-handler="Refresh" /></div>
        </div>
    </div>


    <!--VOCHERS LIST AREA-->
    @if (Model.Vouchers != null)
    {
        @if (Model.Vouchers.Rows.Count > 0)
        {
        <div class="container">
            <table class="table" name="MyTable">
                <thead>
                    <tr>
                        <th>Vou Date</th>
                        <th>Vou No</th>
                        <th>Vou Type</th>
                        <th>Debit</th>
                        <th>Credit</th>
                        <th>Add | Edit</th>
                    </tr>
                </thead>
                <tbody>
                        @foreach (DataRow Row in Model.Vouchers.Rows)
                        {
                            string _Date = AppFunctions.GetDate(Row["Vou_Date"]);
                        <tr>
                            <td>@_Date</td>
                            <td>@Row["Vou_No"]</td>
                            <td>@Row["Vou_Type"]</td>
                            <td>@Row["DR"]</td>
                            <td>@Row["CR"]</td>
                            <td>
                                <button class="btn btn-link"
                            type="submit"
                            asp-page-handler="Edit"
                            asp-route-id="@Row["ID"]">
                                    <i class="bi bi-pencil-fill text-primary" style="margin-right:5px"></i>
                                </button>
                                <a asp-page-handler="Delete" asp-route-id=@Row["TranID"]><i class="bi bi-trash text-danger"></i></a>
                            </td>
                        </tr>
                        }

                </tbody>
            </table>
        </div>
        }
        else
        {
        <div class="container justify-content-center">><h4>No Record Found</h4></div>
        }
    }
</form>