@page
@using System.Data;
@using Microsoft.Extensions.Primitives
@using Applied_WebApplication.Data;
@using static Applied_WebApplication.Data.AppFunctions;
@using static Applied_WebApplication.Data.TableValidationClass;
@using static Applied_WebApplication.Data.DataTableClass;
@model Applied_WebApplication.Pages.Accounts.WriteChequeModel
@{
    var UserName = User.Identity.Name;
    var username = User.Identity.Name;
    var BankNatureID = 2;

    var TitleBank = GetTitle(UserName, Tables.COA, Model.Cheque.Bank);
    var TitleCompany = GetTitle(UserName, Tables.Customers, Model.Cheque.Customer);
    var TitleProject = GetTitle(UserName, Tables.Project, Model.Cheque.Project);
    var TitleEmployee = GetTitle(UserName, Tables.Employees, Model.Cheque.Employee);
    var TitleStatus = GetTitle(UserName, Tables.Employees, Model.Cheque.Status);
    var TitleTax1 = GetTitle(UserName, Tables.Employees, Model.Cheque.TaxID1);
    var TitleTax2 = GetTitle(UserName, Tables.Employees, Model.Cheque.TaxID2);

    if (Model.Cheque.TaxID1 != 0)
    {
        Model.Cheque.TaxRate1 = (decimal.Parse(GetColumnValue(UserName, Tables.Taxes, "Rate", Model.Cheque.TaxID1)));
        Model.Cheque.TaxAmount1 = Model.Cheque.TaxableAmount1 * (Model.Cheque.TaxRate1 / 100.00M);
    }

    if (Model.Cheque.TaxID2 != 0)
    {
        Model.Cheque.TaxRate2 = (decimal.Parse(GetColumnValue(UserName, Tables.Taxes, "Rate", Model.Cheque.TaxID2)));
        Model.Cheque.TaxAmount2 = Model.Cheque.TaxableAmount2 * (Model.Cheque.TaxRate2 / 100.00M);
    }

    Dictionary<int, string> BankList = GetListAsync(UserName, Tables.COA, $"Nature={BankNatureID}").Result;
}

<style>
    .input-group-prepend {
        width: 30%
    }

    .form-control {
        width: 70%
    }

</style>

<div class="AppHeading-2">
    <h3>WRITE A CHEQUE</h3>
</div>

@if (Model.ErrorMessages.Count > 0)
{
    foreach (Message message in Model.ErrorMessages)
    {
        <div class="error-msg rounded">
            @message.Msg
        </div>
    }

}


<form method="post">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div class="container">

        <div> <input hidden class="button" type="text" name="ID" /></div>

        <div class="row mb-2">
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Ref Code</span>
                    </div>
                    <input class="form-control" type="text" asp-for="@Model.Cheque.Code" name="Code" value="@Model.Cheque.Code" placeholder="Tranaction Code (ID)" />
                    <span asp-validation-for="@Model.Cheque.Code"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Tran Date</span>
                    </div>
                    <input class="form-control" type="date" name="TranDate" asp-for="@Model.Cheque.TranDate" value=@Model.Cheque.TranDate.ToString("yyyy-MM-dd") />
                    <span asp-validation-for="@Model.Cheque.TranDate"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Bank</span>
                    </div>
                    <select class="form-select" id="ChequeBank" name="Bank" asp-for="@Model.Cheque.Bank">
                        <option selected>@TitleBank</option>
                        @foreach (KeyValuePair<int, string> item in  GetList(UserName, Tables.COA, "Nature=" + BankNatureID.ToString()))
                        {
                            <option value=@item.Key>@item.Value</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Chque No</span>
                    </div>
                    <input class=" form-control" type="text" name="ChqNo" asp-for="@Model.Cheque.ChqNo" value="@Model.Cheque.ChqNo" placeholder="Cheque No." />
                    <span asp-validation-for="@Model.Cheque.ChqNo"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Chque Date</span>
                    </div>
                    <input class="form-control" type="Date" name="ChqDate" asp-for="@Model.Cheque.ChqDate" value=@Model.Cheque.ChqDate.ToString("yyyy-MM-dd") placeholder="Cheque Date" />
                    <span asp-validation-for="@Model.Cheque.ChqDate"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Chq Amount</span>
                    </div>

                    <input class="form-control" type="number" name="ChqAmount" asp-for="@Model.Cheque.ChqAmount" value="@Model.Cheque.ChqAmount" placeholder="Cheque Amount" />
                    <span asp-validation-for="@Model.Cheque.ChqAmount"></span>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Customer</span>
                    </div>
                    <select class="form-select" id="inputGroupCustomer" name="Customer" asp-for="@Model.Cheque.Customer">
                        <option selected>@TitleCompany</option>
                        @foreach (KeyValuePair<int, string> item in GetList(UserName, Tables.Customers, ""))
                        {
                            <option value=@item.Key>@item.Value</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Project</span>
                    </div>
                    <select class="form-select" id="inputGroupCustomer" name="Project" asp-for="@Model.Cheque.Project">
                        <option selected>@TitleProject</option>
                        @foreach (KeyValuePair<int, string> item in GetList(UserName, Tables.Project, ""))
                        {
                            <option value=@item.Key>@item.Value</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Employee</span>
                    </div>
                    <select class="form-select" id="inputGroupCustomer" name="Employee" asp-for="@Model.Cheque.Employee">
                        <option selected>@TitleEmployee</option>
                        @foreach (KeyValuePair<int, string> item in GetList(UserName, Tables.Employees, ""))
                        {
                            <option value=@item.Key>@item.Value</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Status</span>
                    </div>
                    <select class="form-select" id="inputGroupStatus" name="Status" asp-for="@Model.Cheque.Status">
                        <option selected>@TitleStatus</option>
                        @foreach (KeyValuePair<int, string> item in GetList(UserName, Tables.ChequeStatus, ""))
                        {
                            <option value=@item.Key>@item.Value</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" asp-validation-for="@Model.Cheque.Description">Tran ID</span>
                    </div>
                    <input class="form-control" type="text" asp-for="@Model.Cheque.Description" name="Description" value="@Model.Cheque.Description" placeholder="Description or comments" />
                    <span asp-validation-for="@Model.Cheque.Description"></span>
                </div>
            </div>
        </div>
        <hr />
        <div class="row mb-2">
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">WHT Tax</span>
                    </div>
                    <select class="form-select" id="inputGroupTacable1" name="TaxID1" asp-for="@Model.Cheque.TaxID1">
                        <option selected>@TitleTax1</option>
                        @foreach (KeyValuePair<int, string> item in GetList(UserName, Tables.Taxes, ""))
                        {
                            <option value=@item.Key>@item.Value</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Amount</span>
                    </div>
                    <input class="form-control" placeholder="WHT Taxable Amount"
                           type="text"
                           name="TaxableAmount1"
                           asp-for="@Model.Cheque.TaxableAmount1"
                           value="@Model.Cheque.TaxableAmount1" />
                    <input class="form-control"
                           placeholder="Tax Rate" readonly
                           name="TaxRate1"
                           asp-for="@Model.Cheque.TaxRate1"
                           value="@Model.Cheque.TaxRate1" />
                </div>
                <span asp-validation-for="@Model.Cheque.TaxableAmount1"></span>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Tax Amount</span>
                    </div>
                    <input readonly class="form-control" type="text" asp-for="@Model.Cheque.TaxAmount1" name="TaxAmount" value=@Model.Cheque.TaxAmount1 placeholder="WHT Taxable Amount" />
                </div>
            </div>
        </div>
        <hr />
        <div class="row mb-2">
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Sales Tax</span>
                    </div>
                    <select class="form-select" id="inputGroupTaxRate2" name="TaxID2" asp-for="@Model.Cheque.TaxID2">
                        <option selected>@TitleTax2</option>
                        @foreach (KeyValuePair<int, string> item in GetList(UserName, Tables.Taxes, ""))
                        {
                            <option value=@item.Key>@item.Value</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Amount</span>
                    </div>
                    <input class="form-control" placeholder="WHT Taxable Amount"
                           type="text"
                           name="TaxableAmount2"
                           asp-for="@Model.Cheque.TaxableAmount2"
                           value="@Model.Cheque.TaxableAmount2" />
                    <input class="form-control"
                           placeholder="Tax Rate" readonly
                           name="TaxRate1"
                           asp-for="@Model.Cheque.TaxRate2"
                           value="@Model.Cheque.TaxRate2" />
                </div>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Tax Amount</span>
                    </div>
                    <input readonly class="form-control" type="text" asp-for="@Model.Cheque.TaxAmount2" name="TaxAmount" value=@Model.Cheque.TaxAmount2 placeholder="Sales Taxable Amount" />
                </div>
            </div>
        </div>

        <!--Endrow-->
    </div>
    <!--End contaier-->
    <hr />

    @{
        string Code = @Model.Cheque.Code;
    }

    @if (Model.IsSaved)
    {
        <component type="typeof(ChequeDetails)" render-mode="Static" param-UserName=@UserName param-Code=@Model.Cheque.Code />
    }

    <hr />

    <div class="container">
        <div class="row d-flex">
            <div class="col">
            <input type="submit" class="btn btn-primary" value="SAVE" asp-page-handler="Save" />
            <input type="submit" class="btn btn-primary" value="BACK" asp-page-handler="Back" />
            </div>
        </div>
    </div>


</form>