@page
@using System.Data;
@using Microsoft.Extensions.Primitives
@using static Applied_WebApplication.Data.TableValidationClass;
@using static Applied_WebApplication.Data.DataTableClass;
@model Applied_WebApplication.Pages.Accounts.WriteChequeModel
@{
    var UserName = User.Identity.Name;
    var BankNatureID = 2;
    
   var TitleBank =  GetTitle(UserName, Tables.COA, Model.Cheque.Bank);
   var TitleCompany = GetTitle(UserName, Tables.Customers, Model.Cheque.Customer);
   var TitleProject = GetTitle(UserName, Tables.Project, Model.Cheque.Project);
   var TitleEmployee = GetTitle(UserName, Tables.Employees, Model.Cheque.Employee);
   var TitleStatus = GetTitle(UserName, Tables.Employees, Model.Cheque.Status);
   


}


<style>
    .input-group-prepend {
        width: 30%
    }

    .form-control {
        width: 70%
    }

</style>

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="container">

        <div class="row mb-2">
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Tran ID</span>
                    </div>
                    <input class="form-control" type="text" asp-for="@Model.Cheque.Code" name="Code" value="@Model.Cheque.Code" placeholder="Tranaction Code (ID)" />
                </div>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Tran Date</span>
                    </div>
                    <input class="form-control" type="date" name="TranDate" asp-for="@Model.Cheque.TranDate" value=@Model.Cheque.TranDate.ToString("yyyy-MM-dd")/>
                </div>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Bank</span>
                    </div>
                    <select class="form-select" id="ChequeBank" name="Bank" asp-for="@Model.Cheque.Bank">
                        <option selected>@TitleBank</option>
                        @foreach (KeyValuePair<int, string> item in GetList(UserName, Tables.COA, "Nature=" + BankNatureID.ToString()))
                        {
                            <option value=@item.Key>@item.Value</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Chque No</span>
                    </div>
                    <input class=" form-control" type="text" name="ChqNo" asp-for="@Model.Cheque.ChqNo" value="@Model.Cheque.ChqNo" placeholder="Cheque No." />
                </div>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Chque Date</span>
                    </div>
                    <input class="form-control" type="Date" name="ChqDate" asp-for="@Model.Cheque.ChqDate" value=@Model.Cheque.ChqDate.ToString("yyyy-MM-dd") placeholder="Cheque Date" />
                </div>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Chq Amount</span>
                    </div>

                    <input class="form-control" type="number" name="ChqAmount" asp-for="@Model.Cheque.ChqAmount" value="@Model.Cheque.ChqAmount" placeholder="Cheque Amount" />
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Customer</span>
                    </div>
                    <select class="form-select" id="inputGroupCustomer" name="Customer" asp-for="@Model.Cheque.Customer">
                        <option selected>@TitleCompany</option>
                        @foreach (KeyValuePair<int, string> item in GetList(UserName, Tables.Customers, ""))
                        {
                            <option value=@item.Key>@item.Value</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Project</span>
                    </div>
                    <select class="form-select" id="inputGroupCustomer" name="Project" asp-for="@Model.Cheque.Project">
                        <option selected>@TitleProject</option>
                        @foreach (KeyValuePair<int, string> item in GetList(UserName, Tables.Project, ""))
                        {
                            <option value=@item.Key>@item.Value</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Employee</span>
                    </div> 
                    <select class="form-select" id="inputGroupCustomer" name="Employee" asp-for="@Model.Cheque.Employee">
                        <option selected>@TitleEmployee</option>
                        @foreach (KeyValuePair<int, string> item in GetList(UserName, Tables.Employees, ""))
                        {
                            <option value=@item.Key>@item.Value</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Employee</span>
                    </div>
                    <select class="form-select" id="inputGroupStatus" name="Status" asp-for="@Model.Cheque.Status">
                        <option selected>@TitleStatus</option>
                        @foreach (KeyValuePair<int, string> item in GetList(UserName, Tables.ChequeStatus, ""))
                        {
                            <option value=@item.Key>@item.Value</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Tran ID</span>
                    </div>
                    <input class="form-control" type="text" asp-for="@Model.Cheque.Description" name="Description" value="@Model.Cheque.Description" placeholder="Description or comments" />
                </div>
            </div>
            
        </div>

        <!--Endrow-->
    </div>
    <!--End contaier-->
    <hr />



    <hr />
    <div class="container">
        <div class="row">
            <div class="col-1">
                <input type="submit" class="btn btn-primary" value="SAVE" />
            </div>
        </div>
    </div>
</form>





