@page
@using static Applied_WebApplication.Data.AppFunctions;
@model Applied_WebApplication.Pages.Accounts.WriteCheque2Model
@{
    var UserName = User.Identity.Name;
}

<style>
    .Mylable {
        width: 30%
    }

    .MyInput {
    }

    .form-control {
        width: 70%
    }

</style>

<form method="post">
    <div class="container">

        <div class="row mb-1 d-flex">
            <div class="col-4">
                <div class="input-group">
                    <lable class="Mylable">Tran ID</lable>
                    <input class="form-control" type="text" name="Code" value="@Model.Cheque.Code" placeholder="Tranaction Code (ID)" />
                </div>
            </div>

            <div class="col-4">
                <div class="input-group">
                    <lable class="Mylable">Tran Type</lable>
                    <input class="form-control" type="text" name="TranType" value="@Model.Cheque.TranType" placeholder="Tranaction Type" />
                </div>
            </div>
            <div class="col-4">
                <label for="exampleDataList" class="form-label">Bank</label>
                <input class="form-control" list="datalistOptions" name="Bank" placeholder="Type to search...">
                <datalist id="datalistOptions">
                    @foreach (KeyValuePair<int,string> item in GetList(UserName,Tables.COA,"Nature=2"))
                    {
                        <option value=@item.Value></option>
                    }
                    
                </datalist>

            </div>
        </div>

        <div class="row mb-1 d-flex">
            <div class="col-4">
                <div class="input-group">
                    <lable class="Mylable">Cheque No</lable>
                    <input class=" form-control" type="text" name="ChqNo" value="@Model.Cheque.ChqNo" placeholder="Cheque No." />
                </div>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <lable class="Mylable">Cheque Date</lable>
                    <input class="form-control" type="Date" name="ChqDate" value=@Model.Cheque.ChqDate.ToString("yyyy-MM-dd") placeholder="Cheque Date" />
                </div>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <lable class="Mylable">Cheque Amount</lable>
                    <input class="form-control" type="number" name="ChqAmount" value="@Model.Cheque.ChqAmount" placeholder="Cheque Amount" />
                </div>
            </div>


        </div>
        <!--Endrow-->
    </div>
    <!--End contaier-->


    <div class="container">
        <div class="row">
            <div class="col-1">
                <input type="submit" class="btn btn-primary" value="SAVE" />
            </div>
        </div>
    </div>
</form>




<table class="mt-2">
    <thead>
        <tr>
            <th>Chq No</th>
            <th>Chq Date</th>
            <th>Chq Amount</th>
            <th>Tax</th>
            <th>TaxAmount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ChequesList)
        {
            <tr>
                <td>@item.ChqNo </td>
                <td>@item.ChqDate</td>
                <td>@item.ChqAmount</td>
                <td>@item.Tax</td>
                <td>@item.TaxableAmount </td>
            </tr>
        }
    </tbody>
</table>
<br />



