@page
@using System.Data
@model Applied_WebApplication.Pages.Applied.PostingModel
@{
    var UserName = User.Identity.Name;
    var NumFormat = GetUserValue(UserName, "CurrencyFormat");                                                     // Get format of Currency to display
    var DateFormat = GetUserValue(UserName, "DateFormat");                                                           // Get format of Number to Display
}

<div class="container AppHeading-2">
    <h5 class="TextCenter">POSTING VOUCHERS</h5>
</div>


<!--HEADING MENU-->
<form method="post">
    <div class="container mb-2">
        <div class="row d-flex align-items-baseline">
            <div class="col-md-4">
                <select class="form-select" asp-for="@Model.Variables.PostingType" name="PostingType">
                    <option selected>Select......</option>
                    <option value="1">Cash Book</option>
                    <option value="2">Bankbook</option>
                    <option value="3">Write Cheque</option>
                    <option value="4">Bill Payable</option>
                    <option value="5">Bill Receivable</option>
                    <option value="6">Payment</option>
                    <option value="7">Receipt</option>
                </select>
            </div>
            <div class="col-md-3 d-grid">
                <div class="input-group">
                    <label class="input-group-text" style="width: 30%">From </label>
                    <input class="TextCenter" style="width: 70%" type="date" asp-for="@Model.Variables.Dt_From" />
                </div>
            </div>
            <div class="col-md-3 d-grid">
                <div class="input-group">
                    <label class="input-group-text"  style="width: 30%">To </label>
                    <input class="TextCenter" style="width: 70%" type="date" asp-for="@Model.Variables.Dt_To" />
                </div>
            </div>
            <div class="col-md-2 d-grid">
                <input type="submit" value="Refresh" class="btn btn-primary " asp-page-handler="Refresh" />
            </div>
        </div>
    </div>
</form>


<!-- LIST OF LEDGER-->
@if (Model.PostTable != null)
{

    <div id="TableList" class="container overflow-scroll" style="min-height:400px;  max-height: 100vh">
        <div class="row">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="width:10%">Vou No</th>
                        <th style="width:10%">Vou Date</th>
                        <th style="width:40%">Account Title</th>
                        <th style="width:10%">Debit</th>
                        <th style="width:10%">Credit</th>
                        <th style="width:10%">Status</th>
                        <th style="width:10%">Post</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow Row in Model.PostTable.Rows)
                    {
                        string RowDate = DateTime.Parse(Row["Vou_Date"].ToString()).ToString("dd-MMM-yyyy");

                        <tr>
                            <td class="TextCenter">@Row["Vou_No"]</td>
                            <td class="TextCenter">@RowDate</td>
                            <td>@Row["Title"]</td>
                            <td class="text-danger align-right">@decimal.Parse(Row["DR"].ToString()).ToString(NumFormat)</td>
                            <td class="text-danger align-right">@decimal.Parse(Row["CR"].ToString()).ToString(NumFormat)</td>
                            <td>@Row["Status"]</td>
                            <td>
                                <form method="post">
                                    <input type="submit"
                                   class="btn btn-link"
                                   value="Post"
                                   asp-page-handler="Posting"
                                   asp-route-id=@Row["ID"]
                                   asp-route-PostingType=@Model.Variables.PostingType>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

}
else
{

    @if (Model.IsError)
    {
        <component type="typeof(ErrorMessages)" render-mode="Static" param-Errors=@Model.ErrorMessages></component>
    }

    <h5>No Record Found</h5>
}