@page
@using System.Data
@model Applied_WebApplication.Pages.HR.EmployeesModel
@{
    var UserName = User.Identity.Name;

}

<div class="container AppHeading">
    <div class="row">
        <div class="col-10">
            <h3 class="TextCenter">EMPLOYEES LIST</h3>
        </div>
        <div class="col-2 align-items-center">
            <a asp-page="./Employee"
               asp-route-id=0 >
                <i class="bi bi-file-earmark-plus"></i>
                ADD
            </a> |
            <a asp-page="./ReportPrint/PrintReport/"
               asp-page-handler="Employee">
            </a>

 @*           <button type="submit" class="btn btn-primary"
                    asp-page="./Employee"
                    asp-route-itemid="0">
                <i class="bi bi-file-earmark-plus"></i>
                ADD
            </button>
            <button class="btn btn-primary mb-1" type="submit"
                    asp-page="./ReportPrint/PrintReport"
                    asp-page-handler="Print">
                <i class="bi bi-printer-fill"></i>
                Print
            </button>
 *@       </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
        </div>
    </div>
</div>



<!-- Table of Employee List. -->
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Code</th>
                <th>Title</th>
                <th>Designation</th>
                <th>FullName</th>
                <th>City</th>
                <th>..</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow Row in Model.MyTable.Rows)
            {
                <tr>
                    <td>@Row["Code"]</td>
                    <td>@Row["Title"]</td>
                    <td>@Row["Designation"]</td>
                    <td>@Row["Full_Name"]</td>
                    <td>@Row["City"]</td>
                    <td>
                        <a asp-page="./Employee"
                       asp-route-id=@Row["ID"]
                       asp-page-handler="Edit">
                            Edit
                        </a> |
                        <a asp-page="./Employee"
                       asp-route-id=@Row["ID"]
                       asp-page-handler="Delete">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
