@page
@using System.Data
@model Applied_WebApplication.Pages.HR.EmployeesModel
@{
    var UserName = User.Identity.Name;

}

<div class="AppHeading-2">

    <h5 class="TextCenter">EMPLOYEES LIST</h5>
</div>

<form method="post">
    <div class="container list-filter">
        <div class="row">
            <div class="col-md-4">
                <div class="input-group justify-content-end">
                    <span class="input-group-text" style="width:30%" id="To">Search</span>
                    <input type="Text" class="form-control text-center" id="SearchText" style="width:70%" asp-for=@Model.SearchText />

                </div>
            </div>

            <div class="col-md-3">
                <button class="btn btn-primary" asp-page-handler="Refresh">
                    Search
                </button>


                @if (Model.SearchText.Length > 0)
                {
                    <button class="btn btn-primary" asp-page-handler="Clear">
                        Clear
                    </button>
                }
            </div>
        </div>
    </div>

    <!-- Table of Employee List. -->
    <div class="container">
        <table class="table-list">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Title</th>
                    <th>Designation</th>
                    <th>FullName</th>
                    <th>City</th>
                    <th>
                        <button class="btn listbutton-green"
                                asp-page-handler="Edit"
                                asp-route-id="0">
                            <i class="bi bi-database-fill-add"></i>
                        </button>

                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.MyTable is not null)
                {
                    @if (Model.MyTable.Rows.Count > 0)
                    {
                        @foreach (DataRow Row in Model.MyTable.Rows)
                        {
                            <tr>
                                <td>@Row["Code"]</td>
                                <td>@Row["Title"]</td>
                                <td>@Row["Designation"]</td>
                                <td>@Row["Full_Name"]</td>
                                <td>@Row["City"]</td>
                                <td>
                                    <div class="text-center">
                                        <button class="btn listbutton-blue"
                                                asp-page-handler="Edit"
                                                asp-route-ID=@Row["ID"]>
                                            <i class="bi bi-pencil-fill "></i>
                                        </button>

                                        <button class="btn listbutton-red"
                                                asp-page-handler="Delete"
                                                asp-route-ID=@Row["ID"]>
                                            <i class="bi bi-trash3-fill"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                }
                else
                {
                    <tr>
                        <td>No Record Found.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>