@page
@using System.Data;
@model Applied_WebApplication.Pages.Stock.FinishedGoodsListModel
@{
    var UserName = User.Identity.Name;

}

<form method="post">
    <div class="continer">
        <table name="TableList" style="table table-hover">
            <thead>
                <tr>
                    <th style="width:10%">Batch</th>
                    <th style="width:10%">Date</th>
                    <th style="width:30%">Product</th>
                    <th style="width:10%">Qty</th>
                    <th style="width:10%">Rate</th>
                    <th style="width:10%">Amount</th>
                    <th style="width:10%">
                        <button type="submit"
                                class="btn btn-link btn-outline-light"
                                asp-page-handler="Edit">

                            <i class="bi bi-database-fill-add text-success"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow Row in Model.Goods.Rows)
                {
                    string _Title = AppFunctions.GetTitle(UserName, Tables.Inventory, (int)Row["Product"]);
                    string _Date = AppFunctions.GetDate(Row["MFDate"], AppRegistry.FormatDate);

                    <tr>
                        <td>@Row["Batch"]</td>
                        <td>@_Date</td>
                        <td>@_Title</td>
                        <td>@Row["Qty"]</td>
                        <td>@Row["Rate"]</td>
                        <td>@Row["Amount"]</td>
                        <td>
                            <button type="submit"
                                class="btn btn-link btn-outline-light"
                                asp-page-handler="Edit"
                                asp-route-id="@Row["ID"]">

                                <i class="bi bi-pencil-fill text-primary"></i>

                            </button>
                            <button type="submit"
                                class="btn btn-link btn-outline-light"
                                asp-page-handler="Delete"
                                asp-route-id="@Row["ID"]">
                                <i class="bi bi-trash-fill text-danger"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>


        </table>
    </div>
</form>