@page
@using System.Data
@model Applied_WebApplication.Pages.Stock.StkLedgerModel
@{
    var DateFormat = AppRegistry.FormatDate;
    var CurrencyFormat = AppRegistry.FormatCurrency1;
}

<div class="AppHeading-2">
    STOCK LEDGER
</div>

<div class="container">
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Voucher</th>
                <th>PR Qty</th>
                <th>PR Amount</th>
                <th>SL Qty</th>
                <th>SL Amount</th>
                <th>PD Qty</th>
                <th>PD Amount</th>
                <th>Net Qty</th>
                <th>Net Amount</th>
                <th>Avg. Rate</th>
                <th>Sold Cost</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow Row in Model.StockLedger.Rows)
            {
                var _Date = ((DateTime)Row["Vou_Date"]).ToString(DateFormat);

                <tr>
                    <td>@_Date</td>
                    <td>@Row["Vou_No"]</td>
                    <td class="amount">@(((decimal)Row["PRQty"]).ToString(CurrencyFormat))</td>
                    <td class="amount">@(((decimal)Row["PRAmount"]).ToString(CurrencyFormat))</td>
                    <td class="amount">@(((decimal)Row["SLQty"]).ToString(CurrencyFormat))</td>
                    <td class="amount">@(((decimal)Row["SLAmount"]).ToString(CurrencyFormat))</td>
                    <td class="amount">@(((decimal)Row["PDQty"]).ToString(CurrencyFormat))</td>
                    <td class="amount">@(((decimal)Row["PdAmount"]).ToString(CurrencyFormat))</td>
                    <td class="amount-blue">@(((decimal)Row["NetQty"]).ToString(CurrencyFormat))</td>
                    <td class="amount-blue">@(((decimal)Row["NetAmount"]).ToString(CurrencyFormat))</td>
                    <td class="amount-red">@(((decimal)Row["AvgRate"]).ToString(CurrencyFormat))</td>
                    <td class="amount-red">@(((decimal)Row["SoldCost"]).ToString(CurrencyFormat))</td>
                </tr>
            }
        </tbody>
        
    </table>
</div>