@page
@using System.Data;
@model Applied_WebApplication.Pages.Stock.StockActivityModel
@{
    var UserName = User.Identity.Name;
    var InventoryTitle = GetTitle(UserName, Tables.Inventory, Model.Variables.Inventory);
    var FMTCurrency = AppRegistry.GetFormatCurrency(UserName);
    var StockBalance = 0.00M;
    var TotQty = 0.00M;
    var TotAmount = 0.00M;
    var TotTaxAmount = 0.00M;
    var TotNetAmount = 0.00M;

    
}

<div class="AppHeading-2">
    <h5 class="TextCenter">Stock Activity</h5>
</div>


<form method="post">
    <div class="container">
        <div class="row mb-2">
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-text" style="width:30%" id="From">Start</span>
                    <input type="date" class="form-control text-center" id="MinDate" style="width:70%" min="2020-01-01" asp-for=@Model.Variables.MinDate />
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <input type="date" class="form-control text-center" id="MaxDate" style="width:70%" min="2020-01-01" asp-for=@Model.Variables.MaxDate />
                    <span class="input-group-text" style="width:30%" id="To">End</span>
                </div>
            </div>
            <div class="col-md-4">
                <select class="form-select" aria-label="Select Inventory" id="txtInventory" asp-for="@Model.Variables.Inventory">
                    <option selected>@InventoryTitle</option>
                    @foreach (KeyValuePair<int, string> _Title in Titles(UserName, Tables.Inventory))
                    {
                        <option value="@_Title.Key">@_Title.Value</option>
                    }
                </select>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary" asp-page-handler="Refresh">Refresh</button>
            </div>
        </div>
    </div>

    <div class="container">
        <table class="table-list">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Voucher</th>
                    <th>Trans.</th>
                    <th>Qty</th>
                    <th>Rate</th>
                    <th>Amount</th>
                    <th>Tax %</th>
                    <th>Tax Amount</th>
                    <th>Net Amount</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.MyTable != null)
                {

                    @foreach (DataRow Row in Model.MyTable.Rows)
                    {
                        var _Date = Conversion.Row2Date(Row["Vou_Date"]);
                        var _Qty = Conversion.ToDecimal(Row["Qty"]);
                        var _Rate = Conversion.ToDecimal(Row["Rate"]);
                        var _Amount = (decimal)Row["Qty"] * (decimal)Row["Rate"];
                        var _TaxRate = Conversion.ToDecimal(Row["TaxRate"]);
                        var _TaxAmount = Conversion.ToDecimal(Row["TaxAmount"]);
                        var _NetAmount = Conversion.ToDecimal(Row["NetAmount"]);

                        TotQty += _Qty;
                        TotAmount += _Amount;
                        TotTaxAmount += _TaxAmount;
                        TotNetAmount += _NetAmount;
                        StockBalance += _NetAmount;

                        var __Qty = _Qty.ToString(FMTCurrency);
                        var __Rate = _Rate.ToString(FMTCurrency);
                        var __Amount = _Amount.ToString(FMTCurrency);
                        var __TaxRate = _TaxRate.ToString(FMTCurrency);
                        var __TaxAmount = _TaxAmount.ToString(FMTCurrency);
                        var __NetAmount = _NetAmount.ToString(FMTCurrency);
                        var __StockBalance = StockBalance.ToString(FMTCurrency);

                        <tr>
                            <td>@_Date</td>
                            <td>@Row["Vou_No"]</td>
                            <td>@Row["Tran"]</td>
                            <td class="amount">@__Qty</td>
                            <td class="amount">@__Rate</td>
                            <td class="amount">@__Amount</td>
                            <td class="amount">@__TaxRate</td>
                            <td class="amount">@__TaxAmount</td>
                            <td class="amount">@__NetAmount</td>
                            <td class="amount">@__StockBalance</td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot >
                <tr style="background-color:antiquewhite">
                    <td></td>
                    <td></td>
                    <td>TOTAL</td>
                    <td class="amount">@TotQty.ToString(FMTCurrency)</td>
                    <td class="amount"></td>
                    <td class="amount">@TotAmount.ToString(FMTCurrency)</td>
                    <td class="amount"></td>
                    <td class="amount">@TotTaxAmount.ToString(FMTCurrency)</td>
                    <td class="amount">@TotNetAmount.ToString(FMTCurrency)</td>
                    <td class="amount"></td>
                </tr>
            </tfoot>

        </table>
    </div>

</form>

